:local(.orange) {
    color: orange;
}

:local(.green) {
    color: green;
}

:local(.item) {
    display: inline-block;
    zoom: 1;
}

:local(.item span:first-child) {
    margin-right: 10px;
}

:local(.table) {
    background: #fff;
    margin-bottom: 20px;
}