:local(.textContainer){
    width:100%;
    display: -webkit-flex;
    text-align: left;
    margin-bottom:7px;
}
:local(.firstItem){
    width:100px;
    /*background-color:green;*/
}
:local(.secondItem){
    flex:1;
    /*background-color:red;*/
}
:local(.box){
    padding:3px 11px 4px;
}