<% include ../header.ejs %>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<style>
    html{
        height:100% !important;
    }
</style>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">


        <% include ../_nav_top.ejs %>

        <% var active = "newsList";%>
        <% include ../_nav_head.ejs %>

        <div class="page">

            <div class="container">
                <div class="row"  style="background-color: white">
                    <% var news=data.news;%>
                    <table class="sm-page-table space-top">
                        <thead>
                        <tr>
                            <td>新闻标题</td>
                            <td>创建时间</td>
                            <td>更新时间</td>
                        </tr>
                        </thead>
                        <tbody style="min-height:660px">
                        <% for(var i=0;i<news.length;i++){ %>
                        <%var currentNews=news[i]%>
                        <tr>
                            <td>
                                <a href="/news/<%=currentNews.id%>"><%=currentNews.newsTitle%> </a>
                            </td>
                            <td>
                                <%=currentNews.createdOn%>
                            </td>
                            <td>
                                <%=currentNews.updatedOn%>
                            </td>
                        </tr>
                        <%}%>
                        </tbody>
                    </table>
                    <section class="col-md-10 space-top pull-right">
                        <% var url = "/newsList?" %>
                        <% include ../_paginator.ejs%>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>

<% include ../_nav_bottom.ejs%>
<% include ../footer.ejs %>
<script type="text/javascript">
    $(function(){
        $('title').html('新闻列表');
    })
</script>
