:local(.detailContainer){
    height:auto;
    background-color:#F5F5F5;
    /*padding-bottom:80px;*/
}
:local(.goodsDetail){
    width:96%;
    /*border:1px solid black;*/
    /*height:100%;*/
    margin:0  auto;
   /*padding-bottom:80px;*/
}
:local(.goodsDetailHeader){
    margin-top:5px;
    margin-bottom:7px;
    height:20px;
}
:local(.LeftHeader){
    display:flex;
    justify-content: flex-start;
    align-items:center;
    float:left;
    width:50%;
    font-weight:bold;
    color:#333333;
   /* padding-left:6px;*/

}
:local(.RightHeader) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;
    width: 50%;
    font-weight: bold;
    /*padding-right:4px;*/
    color:#E51C23
}

:local(.quotationStoreDetail){
    background-color:#FFFFFF;

    color:#999;
    padding-top:1px;
    padding-bottom:1px;
}
:local(.spaceUp){
    margin-top:6px;
}



:local(.contentSpanDivText){
    color:#999999;
    background-color:#F0F0F2;
    height:30px;
    /*font-size:16px;*/
    display:flex;
    align-items: center;
    font-weight:bold;
}


:local(.buttonGroupClass){
    position:static;
    height:38px;

}
