<% include ../../header.ejs%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% var active = "product_setting"; %>
        <% include ../_nav_head.ejs%>
        <div class="page double-padding-bottom">
            <div style="position: fixed;z-index: 1006;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
            </div>
            <div style="font-size: 14px;padding: 4px;width: 450px;height: 300px;background-color: transparent;position: fixed;z-index: 99999;display: none" id="selectGoods">
                <div class="page-content space-top">
                    <section class="page-content-right">
                        <aside class="page-content-right-head">
                            <label>新增客户类别</label>
                        </aside>
                        <table class="table page-table">
                            <tbody>
                            <tr>
                                <td>类别名称：<input type="text" id="categoryName"/></td>
                            </tr>
                            <tr>
                                <td style="text-align: end;">
                                    <a class="btn btn-primary addClientCategory" style="padding: 10px !important;">确定</a>
                                    <a class="btn btn-primary closeIframeGuide" style="padding: 10px !important;">取消</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div style="font-size: 14px;padding: 4px;width: 450px;height: 300px;background-color: transparent;position: fixed;z-index: 99999;display: none" id="editSubCategory" >
                <div class="page-content space-top">
                    <section class="page-content-right">
                        <aside class="page-content-right-head">
                            <label>修改客户类别</label>
                        </aside>
                        <table class="table page-table">
                            <tbody>
                            <tr>
                                <td>类别名称：<input type="text" id="categoryName"/></td>
                            </tr>
                            <tr>
                                <td style="text-align: end;">
                                    <a class="btn btn-primary updateClientCategory" style="padding: 10px !important;">修改</a>
                                    <a class="btn btn-primary closeIframeGuide" style="padding: 10px !important;">取消</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="container">
                <div class="row space-top"  style="min-height:801px">
                    <!-- Sidebar-->
                    <% include ../_nav_customer_left.ejs%>
                    <!-- Sidebar CLose-->
                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/system/product">商品类别</a>
                                <a href="/customer/system/inventory">库存方案</a>
                                <a href="/customer/system/customer" class="itemActive">客户类</a>
                                <a href="/customer/system/domainSetting">客户区域</a>
                                <a href="/customer/system/packUnit">包装单位</a>
                                <a href="/customer/system/erpSetting">ERP</a>
                                <a href="/customer/system/productJX">剂型</a>
                                <a href="/customer/system/productGSP">GMP/GSP类别</a>
                                <a href="/customer/system/paymentType">收款方式</a>
                                <a href="/customer/system/smsGetway">短信网关</a>
                                <a href="/customer/system/others">其他</a>
                            </div>
                        </div>
                        <table class="sm-page-table">
                            <thead>
                            <tr>
                                <td>客户类别</td>
                                <td><a class="btn btn-primary displaySelect">新增</a></td>
                            </tr>
                            </thead>
                            <% var customercategory = data.clientCategory ;  %>
                            <% for(var i in customercategory) {%>
                            <tr>
                                <td>
                                    <%= customercategory[i].name %>
                                </td>
                                <td>
                                    <a class="editSub editClient" data-category-id=<%= customercategory[i].id%>><i class="fa fa-pencil-square-o tooltipped" data-toggle="tooltip" data-placement="top" title="修改" style="margin-right: 20px"></i></a>
                                    <a class="removeClientCategory" data-category-id=<%= customercategory[i].id%>><i class="fa fa-trash tooltipped" data-toggle="tooltip" data-placement="top" title="删除" ></i></a>
                                </td>
                            </tr>
                            <% }%>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>