:local(.password) {
    margin: 28px 8px;
    height: 36px;
    border: 1px solid #dedede;
    line-height: 20px;
    width: 352px;
    letter-spacing: 12px;
    padding: 0 12px;
    font-size: 32px;
    color: #666;
    outline: none;
    background-color: #e6e6e6;
    line-height: 36px;
}
:local(p+.password) {
    margin:10px 8px 28px 8px;
}
:local(.discribe) {
    margin:18px 8px 0 8px;
}

:local(.password::-webkit-input-placeholder) { /* WebKit browsers */
    color: #b2b1b1;
    font-size: 12px;
    letter-spacing: 0;
    padding: 0;
}

:local(.password:-moz-placeholder) { /* Mozilla Firefox 4 to 18 */
    color: #b2b1b1;
    font-size: 12px;
    letter-spacing: 0;
    padding: 0;
}

:local(.password::-moz-placeholder) { /* Mozilla Firefox 19+ */
    color: #b2b1b1;
    font-size: 12px;
    letter-spacing: 0;
    padding: 0;
}

:local(.password:-ms-input-placeholder) { /* Internet Explorer 10+ */
    color: #b2b1b1;
    font-size: 12px;
    letter-spacing: 0;
    padding: 0;
}