<% include ../../customer/header.ejs %>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->
        <% include ../../customer/_nav_top.ejs %>
        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../../customer/_nav_head.ejs %>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom" style="margin-bottom: 0px;">
            <div class="container page-content">
                <div class="row">
                    <!--Sidebar-->
                    <% var active = "promotion_Info"; %>
                    <% include ../../customer/_order_sidebar.ejs %>
                    <!--Sidebar Close-->
                    <!--Catalog List-->
                    <section class="col-md-10 pull-right space-top space-bottom page-content-right">
                        <div class="getPromotion">
                            <h4 class="promotion-title">可领优惠券<span>（5）</span></h4>
                            <div class="promotion-divider-line">
                                <div class="promotion-play">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="2000">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <div class="getPromotion-content first-slide">
                                                    <div class="getPromotion-img">
                                                        <img src="/static/img/promotion.png" />
                                                    </div>
                                                    <div class="getPromotion-text">
                                                        <h2 class="promotion-money">50元</h2>
                                                        <span class="promotion-time">2016-02-03 00:00 至 2016-02-03 00:00</span>
                                                    </div>
                                                    <div class="getPromotion-new">
                                                        <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                                        <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                                        <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                                    </div>
                                                </div>
                                                <div class="getPromotion-content first-slide">
                                                    <div class="getPromotion-img">
                                                        <img src="/static/img/promotion.png" />
                                                    </div>
                                                    <div class="getPromotion-text">
                                                        <h2 class="promotion-money">50元</h2>
                                                        <span class="promotion-time">2016-02-03 00:00 至 2016-02-03 00:00</span>
                                                    </div>
                                                    <div class="getPromotion-new">
                                                        <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                                        <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                                        <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                                    </div>
                                                </div>
                                                <div class="getPromotion-content first-slide">
                                                    <div class="getPromotion-img">
                                                        <img src="/static/img/promotion.png" />
                                                    </div>
                                                    <div class="getPromotion-text">
                                                        <h2 class="promotion-money">50元</h2>
                                                        <span class="promotion-time">2016-02-03 00:00 至 2016-02-03 00:00</span>
                                                    </div>
                                                    <div class="getPromotion-new">
                                                        <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                                        <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                                        <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="getPromotion-content second-slide">
                                                    <div class="getPromotion-img">
                                                        <img src="/static/img/promotion.png" />
                                                    </div>
                                                    <div class="getPromotion-text">
                                                        <h2 class="promotion-money">50元</h2>
                                                        <span class="promotion-time">2016-02-03 00:00 至 2016-02-03 00:00</span>
                                                    </div>
                                                    <div class="getPromotion-new">
                                                        <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                                        <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                                        <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                                    </div>
                                                </div>
                                                <div class="getPromotion-content second-slide">
                                                    <div class="getPromotion-img">
                                                        <img src="/static/img/promotion.png" />
                                                    </div>
                                                    <div class="getPromotion-text">
                                                        <h2 class="promotion-money">50元</h2>
                                                        <span class="promotion-time">2016-02-03 00:00 至 2016-02-03 00:00</span>
                                                    </div>
                                                    <div class="getPromotion-new">
                                                        <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                                        <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                                        <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                                    </div>
                                                </div>
                                                <div class="getPromotion-content second-slide">
                                                    <div class="getPromotion-img">
                                                        <img src="/static/img/promotion.png" />
                                                    </div>
                                                    <div class="getPromotion-text">
                                                        <h2 class="promotion-money">50元</h2>
                                                        <span class="promotion-time">2016-02-03 00:00 至 2016-02-03 00:00</span>
                                                    </div>
                                                    <div class="getPromotion-new">
                                                        <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                                        <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                                        <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="getPromotion-content third-slide">
                                                    <div class="getPromotion-img">
                                                        <img src="/static/img/promotion.png" />
                                                    </div>
                                                    <div class="getPromotion-text">
                                                        <h2 class="promotion-money">50元</h2>
                                                        <span class="promotion-time">2016-02-03 00:00 至 2016-02-03 00:00</span>
                                                    </div>
                                                    <div class="getPromotion-new">
                                                        <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                                        <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                                        <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                                    </div>
                                                </div>
                                                <div class="getPromotion-content third-slide">
                                                    <div class="getPromotion-img">
                                                        <img src="/static/img/promotion.png" />
                                                    </div>
                                                    <div class="getPromotion-text">
                                                        <h2 class="promotion-money">50元</h2>
                                                        <span class="promotion-time">2016-02-03 00:00 至 2016-02-03 00:00</span>
                                                    </div>
                                                    <div class="getPromotion-new">
                                                        <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                                        <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                                        <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                                    </div>
                                                </div>
                                                <div class="getPromotion-content third-slide">
                                                    <div class="getPromotion-img">
                                                        <img src="/static/img/promotion.png" />
                                                    </div>
                                                    <div class="getPromotion-text">
                                                        <h2 class="promotion-money">50元</h2>
                                                        <span class="promotion-time">2016-02-03 00:00 至 2016-02-03 00:00</span>
                                                    </div>
                                                    <div class="getPromotion-new">
                                                        <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                                        <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                                        <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control prev-button" href="#myCarousel" role="button" data-slide="prev">
                                            <i class="fa fa-caret-left"></i>
                                        </a>
                                        <a class="right carousel-control next-button" href="#myCarousel" role="button" data-slide="next">
                                            <i class="fa fa-caret-right"></i>
                                        </a>
                                    </div><!-- /.carousel -->
                                </div>
                            </div>

                        </div>
                        <div class="hasPromotion">
                            <h4 class="promotion-title">已领优惠券<span>（20）</span></h4>
                            <div class="promotion-divider-line">
                                <div class="filterDivTab">
                                    <div class="tabList">
                                        <a href="/portal/promotion/promotion_Info" class="itemActive">未使用</a>
                                        <a href="javascript:void(0)">已使用</a>
                                        <a href="javascript:void(0)">已过期</a>
                                    </div>
                                </div>
                                <div class="hasPromotion-content">
                                    <div class="hasPromotion-text">
                                        <h2 class="promotion-money">50元</h2>
                                        <span class="promotion-time">2016-02-03 00:00 至<br>
                                            2016-02-03 00:00</span>
                                    </div>
                                    <div class="hasPromotion-new">
                                        <div class="hasPromotion-box">
                                            <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                            <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                            <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                        </div>
                                        <div class="promotion-buttom">
                                            <a class="btn promotion-btn-primary">立即使用</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="hasPromotion-content">
                                    <div class="hasPromotion-text">
                                        <h2 class="promotion-money">50元</h2>
                                        <span class="promotion-time">2016-02-03 00:00 至<br>
                                            2016-02-03 00:00</span>
                                    </div>
                                    <div class="hasPromotion-new">
                                        <div class="hasPromotion-box">
                                            <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                            <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                            <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                        </div>
                                        <div class="promotion-buttom">
                                            <a class="btn promotion-btn-primary">立即使用</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="hasPromotion-content">
                                    <div class="hasPromotion-text">
                                        <h2 class="promotion-money">50元</h2>
                                        <span class="promotion-time">2016-02-03 00:00 至<br>
                                            2016-02-03 00:00</span>
                                    </div>
                                    <div class="hasPromotion-new">
                                        <div class="hasPromotion-box">
                                            <h6 class="promotion-rules">【优惠编码】<span>1S3F-SE2D-S4S2</span></h6>
                                            <h6 class="promotion-rules">【使用规则】<span>购买指定商品满1000元</span></h6>
                                            <h6 class="promotion-rules">【使用说明】<span>这是一段关于活动的描述文字这是一段关于活动的描述文字</span></h6>
                                        </div>
                                        <div class="promotion-buttom">
                                            <a class="btn promotion-btn-primary">立即使用</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="promotionInstructions">
                            <h4 class="promotion-title">优惠券说明</h4>
                            <div class="promotion-divider-line">
                                <aside>
                                    <h4>1.什么是优惠券？</h4>
                                    <span>优惠券是商城商家给消费者发放的优惠券。</span>
                                </aside>
                                <aside>
                                    <h4>2.优惠券如何获取？</h4>
                                    <span>在"个人中心——我的优惠券" 可以直接领取商家优惠券。</span>
                                </aside>
                                <aside>
                                    <h4>3.优惠券如何使用？</h4>
                                    <span>在商城选购商品后，进入"购物车"页面，可直接选择优惠券进行使用！<br>
                                        相同优惠券每笔订单仅可以使用一张。<br>
                                    使用条件：满足优惠券使用规则。<br>
                                    使用期限：依据各优惠券的有效期，为了避免优惠券过期，请在有效期内使用。<br>
                                    优惠券不记名、不挂失、不找零、不兑换现金、不兑换等额商品或礼品。</span>
                                </aside>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../../customer/_nav_bottom.ejs %>
</div>

<% include ../../customer/footer.ejs %>