:local(.head) {
    width: 100%;
    min-width: 988px;
    line-height: 50px;
    padding-left: 20px;
    background-color: #E8E8E8;
}

:local(.order) {
    font-size: 16px;
    color: #555;
    font-weight: 800;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-right: solid 1px #BBBBBB;
}

:local(.name) {
    font-size: 16px;
    color: #636363;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-right: solid 1px #BBBBBB;
}

:local(.status) {
    font-size: 16px;
    color: #FFA65B;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}