:local(.item) {
    width: 100%;
    min-height: 100%;
    position: relative;
}

:local(.login) {
    width: 500px;
    height: 250px;
    background: #2db7f5;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
}

:local(.login img) {
    height: 50px;
    width: 20%;
    display: inline-block;
    zoom: 1;
    margin-top: 80px;
    margin-bottom: 80px;
}

:local(.division) {
    height: 100%;
    content: "";
    display: inline-block;
    zoom: 1;
    border-right: 1px solid #fff;
    margin-left: 20px;
    margin-right: 20px;
}

:local(.loginBox) {
    display: inline-block;
    zoom: 1;
    width: 60%;
    height: 100%;
    position: absolute;
}

:local(.loginBox .title) {
    color: #386f8c;
    font-size: 18px;
    display: inline-block;
    zoom: 1;
    line-height: 18px;
    font-weight: 100;
    margin-bottom: 20px;
}

:local(.loginBox .input span) {
    color: #386f8c;
}

:local(.loginBox .input) {
    background: #fff;
    margin-bottom: 20px;
    width: 100%;
}

:local(.loginBox button:active),
:local(.loginBox button:focus),
:local(.loginBox button:hover) {
    border-color: #0b3b54;
    width: 100%;
    background: #0b3b54;
    color: #fff;
}

:local(.loginBox button) {
    border-color: #386f8c;
    width: 100%;
    background: #386f8c;
    color: #fff;
}

:local(.loginBox .tips) {
    color: #F10606;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}