<form class="filterInputItem">
    <input placeholder=<%= placeholder%> type="text" class="filterInput" value="<%= paginator_keywordsValue%>"/>
    <button type="submit" class="filterInputButton search_goods" data-url=<%= JSON.stringify(paginatorData)%>><i class="fa fa-search"></i></button>
</form>