.address-table{
    margin: 0 !important;
}
.address-table thead  .clear-border-top{
    border-top:0;
}
.address-table thead tr{
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
}
.address-table thead tr .address-info{
    vertical-align: middle;
    text-align: start;
    padding-left: 15px;
}
.address-table tbody tr{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #dddddd;
}
.address-table tbody textarea{
    width: 100%;
}
.address-table tbody tr .address-info{
    padding-top: 0;
    border: 0;
    vertical-align: inherit;
    text-align: start;
    padding-left: 15px;
}
.address-table tbody tr .address-operate{
   text-align: end;
}
.address-table tbody tr .address-info .flag{
    color: #e84d4d;
    cursor: pointer;
}
.address-table tbody tr .address-name{
    font-size: 14px;
}
.address-table tbody tr .address-info .change-address{
    color: #e84d4d;
    margin: 0 5px;
    cursor: pointer;
}
.address-table tbody tr .address-info .change-address a{
    cursor: pointer;
    margin-right: 10px
}
.newAddressTemplate{
    display: none;
}
.trModifyAddress{
    display: none;
}
.trNewAddress{
    display: none;
}