.input-edit{
    height:30px;
    width:350px;
    display:inline-block;
    float:left;
    padding: 5px 10px;
    font-size: 0.875em;
    line-height: 1.5;
    border-radius: 3px;
}
/*.input-read{
    height:30px;
    width:350px;
    display:inline-block;
    float:left;
    padding: 5px 10px;
    font-size: 0.875em;
    line-height: 1.5;
    border-radius: 3px;
    border:none;
    background: transparent;

}*/


.firstTd{
    width:20%;
}

.secondTd{
    width:50%;
}
.thirdTd{

    width:30%;
    text-align: right;
    padding-right:15px;
}