@import "../color";

.bill-select-date {
  border-radius: 4px;
}

.finance-filter-container {
  font-size: 14px;
  .export-btn {
    background-color: #009688;
    &:hover {
      background-color: #009688;
    }
  }
  .filter-select {
    font-size: 14px;
    color: #666;
  }
}

.finance-sum {
  border: 1px solid $basic-border-color;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  padding-left: 20px;
}

.finish-bill {
  color: $sum-finish-bill-color;
  @extend .bill-sum-font;
}

.pend-bill {
  color: $sum-pend-bill-color;
  @extend .bill-sum-font
}

.n-bill {
  @extend .bill-sum-font;
  @extend .font-color-blue
}

.bill-sum-font {
  font-weight: bold;
}

.margin-right-lg {
  margin-left: 40px;
}

.margin-left-md {
  margin-left: 20px;
}

.font-color-red {
  color: #E62C32;
}

.font-color-green {
  color: #0C853E;
}

.finance-sum {
  font-size: 14px;
}

.font-color-orange {
  color: $sum-pend-bill-color;
}

.font-color-blue {
  color: #03A9F4;
}

.font-color-blue-green {
  color: #26A69A;
}

.detail-client-name-container {
  font-size: 14px;
  height: 30px;
  margin-top: 10px;
  .filter-select {
    font-size: 14px;
    color: #666;
    vertical-align: middle;
  }
  .filter-input {
    width: 171px;
  }
  .vertical-top {
    vertical-align: top;
  }
  .export-btn {
    background-color: #009688;
    //border-radius:3px;
    //border:1px solid $basic-info-input-border-color;
    &:hover {
      background-color: #009688;
    }
  }
}

.detail-client-name {
  color: $sum-finish-bill-color;
  font-weight: bold;
}

.vertical-middle {
  vertical-align: middle;
}

.tip-color {
  color: $font-grey-color;
}

.detail-header-left {
  height: 100px;
}

.detail-sum {
  border: 1px solid $basic-border-color;
  height: 100px;
  /*line-height: 50px;
  margin-top: 10px;
  padding-left:20px;*/

  .detail-header-left {
    font-size: 14px;
    line-height: 100px;
    width: 10%;
    padding-left: 30px;
  }

  .detail-header-right {
    font-size: 14px;
    vertical-align: middle;
    height: 100px;
    width: 85%;
    table {
      height: 100px;
      width: 100%;
      tr {
        &:first-of-type {
          border-bottom: 1px solid $basic-border-color;
        }
        td {
          text-align: center
        }
      }

    }
  }
}

.bonus-report-sum {
  height: 55px;
  border: 1px solid $basic-border-color;
  padding-left: 20px;
  line-height: 55px;
  span {
    font-size: 14px;
  }
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-md {
  font-size: 16px;
}

.customer-ship-pricesum {
  text-align: right;
  padding-right: 14px;
}

.finance-table-deleteBodyBorder {
  tbody {
    border: 1px solid $borer-default-color;
    tr > td {
      border: none;
    }
  }
}

.finance-table {

  a {
    color: inherit;
    &:focus {
      color: inherit;
    }
    &:hover {
      color: inherit;
    }
  }
  .finance-operation {
    margin: 0 auto;
    a {
      color: #259B24;
      &:focus {
        color: #259B24;
      }
      &:hover {
        color: #259B24;
      }
    }
  }

}

.padding-left-md {
  padding-left: 16px;
}

.dialog-content-refund table tbody tr td {
  padding: 10px;
  border: none;
  &:first-child {
    width: 125px;
  }
  input[type='text'] {
    width: 80%;
    line-height: 30px;
    height: 30px;
  }
  .fileContainer {
    vertical-align: top;
    i {
      font-size: 25px;
      &:hover {
        color: $button-base-default-background-color;
      }
    }
  }
}

.dialog-content-refund table tbody tr:last-child .text-end {
  text-align: end;
  > a {
    padding: 10px;
  }
}