@import "../color";

.page-nav {
  position: relative;
  height: 26px;
  line-height: 26px;
  border-bottom: 1px solid #000;
}

#purchaseAgreement {
  top: 0;
}

.page-content section {
  padding: 0;
}

.page-content .table-head-nav h4 {
  display: inline-block;
}

.page-content .table-head-nav a {
  float: right;
}

.page-content hr {
  margin-top: -5px;
  border-top: 1px solid #999999
}

.page-content a {
  cursor: pointer;
}

.page-content .page-content-right {
  background: white;
  //box-shadow: 1px 1px 5px #888888;
}

.page-content .page-content-right .page-content-right-head {
  height: 50px;
  line-height: 50px;
  background: #f5f5f5;
}

.page-content .page-content-right .page-content-right-head label {
  padding: 0 8px 0 8px;
  margin: 0;
}

.page-content .page-content-right .page-content-right-head div {
  display: inline-block;
}

.page-content .page-content-right .page-content-right-head .page-content-sort {
  margin-top: 0;
  float: right;
}

.page-content .page-content-right .page-content-right-head .filter-input {
  margin-right: 8px;
}

.page-content .page-content-right .page-content-right-head .filter-input form {
  position: relative;
}

.page-content .page-content-right .page-content-right-head .filter-input input {
  height: 30px;
  width: 200px;
  display: inline-table;
}

.page-content .page-content-right .page-content-right-head .filter-input button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
}

.page-content .page-content-right .page-table {
  table-layout: fixed;
  text-align: center;
  margin-bottom: 0;
}

.customer-operation {
  overflow: initial !important;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.page-content .page-content-right .page-table td {
  /*  overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;*/
}

.page-content .page-content-right .table-head {
  background-color: #f5f5f5;
}

.page-content .page-content-right .page-table thead tr {
  height: 40px;
  line-height: 40px;
}

.page-content .page-content-right .page-table thead tr td {
  vertical-align: middle;
}

.page-content .page-content-right .page-table tr .goods-name-info {
  text-align: start;
}

.page-content .page-content-right .page-table tr .goods-info-img {
  width: 260px;
}

.page-content .page-content-right .page-table tr .checkbox-item {
  width: 40px;
}

.page-content .page-content-right .page-table .goods-number {
  width: 120px;
}

.page-content .page-content-right .page-table .goods-pack {
  width: 190px;
}

.page-content .page-content-right .page-table tbody tr td {
  vertical-align: middle;
  padding: 10px;
}

.page-content .page-content-right .goods-table tbody tr td label {
  margin: 0;
}

.site-layout .page .page-content-right .page-content-right-head,
.site-layout .page .page-content-border,
.page-content .page-content-border .page-table tbody tr td {
  border: 1px solid #e6e6e6;
  vertical-align: middle;
  h6 {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 0;
  }
}

.page-content .page-content-border .page-table tbody tr td div {
  display: inline-block;
  width: 100px;
}

.page-content .page-content-border .page-table tbody tr td div > div {
  width: 25px;
  margin-right: -25px;
}

.page-content .page-content-border .page-table tbody tr td h6 {
  font-size: 14px;
  color: #666666;
}

.page-content .page-content-border .page-table tbody tr td label {
  font-size: 24px;
  color: #333333;
}

.page-content .page-content-right .page-table tbody tr .defined-checkbox {
  vertical-align: inherit;
  padding: 20px;
}

.page-content .page-content-right .page-table tbody tr .defined-checkbox div {
  margin: 0 -10px 0 0 !important;
}

.page-content .page-content-right .page-table tbody tr td .goods-img {
  float: left;
  width: 80px;
  height: 80px;
}

.page-content .page-content-right .page-table tbody tr td .goods-img img {
  width: 80px;
  height: 80px;
}

.page-content .page-content-right .page-table tbody tr td .goods-info {
  float: left;
  margin-left: 10px;
  text-align: left;
}

.page-content .page-content-right .page-table tbody tr td .decreaseMargin {
  margin-left: 9px;
}

.page-content .page-content-right .page-table tbody tr td .clearMarginLeft {
  float: left;
  margin-left: 0;
  text-align: left;
}

.page-content .page-content-right .page-table tbody tr td .goods-info h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  width: 150px;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.page-content .page-content-right .page-table tbody tr td .goods-info h6 a {
  margin-left: 0;
}

.page-content .page-content-right .page-table tbody tr {
  height: 60px;
  line-height: 60px;
}

.page-content .page-content-right .page-table tbody tr .goods-number a {
  width: 10px;
  margin-left: 0;
}

.page-content .page-content-right .page-table tbody tr .goods-number input {
  //width: 50px !important;
  text-align: center;
}

.page-content .page-content-right .page-table tbody tr .goods-pack p {
  display: inline-flex;
  width: 110px;
  margin: 0;
  line-height: 0;
}

.page-content .page-content-right .page-table tbody i {
  font-size: 16px;
}

.page-content .page-content-right .address-table-body tr {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
}

.page-content .blank-content {
  height: 200px;
  line-height: 200px
}

.page-content .blank-content td {
  vertical-align: middle;
}

.page-content .product ul {
  list-style: none;
  padding-left: 0;
}

.page-content .product ul section {
  padding: 4px;
}

.page-content .product-footer {
  background: #fff;
}

.page-content .product-footer .product-devider {
  width: 100% !important;
}

.page-content .product-footer table {
  width: 100%;
}

.page-content .page-content-right .page-panel-head a {
  margin-right: 20px;
}

.operation {
  float: right;
  font-size: 14px;
  color: #0066cc;
  margin-right: 8px;
}

.page-content .page-content-right .page-panel-head ol {
  margin-right: 190px;
}

.page-content .page-content-right .page-panel-head ol input {
  height: 30px;
}

.page-content .page-content-right .page-panel-head ol button {
  right: 0 !important;
  top: -2px !important;
}

.customer-operation div {
  display: inline-block;
  vertical-align: super;
}

.customer-operation i {
  margin-right: 2px;
}

.customer-operation .nav-item {
  width: 21px;
  height: 24px;
  border-bottom: 0;
}

.customer-operation .nav-item .nav-list {
  top: 28px;
  left: 0;
  text-align: left;
  width: 150px;
}

.defined-collapseOne:after {
  display: none !important;
}

body {
  //background: #ececec !important;
  //background: #ffffff !important;
  height: 100%;
}

html {
  height: 100% !important;
}

.selectUnit {
  width: 100px;
  border-radius: 4px;
  border: 1px solid #237935;
  background: #fff;
  padding: 1px;
}

.selectUnit:hover {
  width: 100px;
  border-radius: 4px;
  border: 1px solid #237935;
  background: #fff;
  padding: 1px;
}

.goodscategory li {
  list-style: none;
}

.goodscategory .categoryDiv {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #dddddd;
}

.categoryDiv input {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  padding-left: 10px;
  width: 300px;
}

.selectTime {
  height: 30px;
  width: 110px;
  line-height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid #237935;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
}

.selectTime:hover {
  border-radius: 10px;
  outline: none;
}

.selectTime:focus {
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 5px 0 #237935;
  border-color: #237935;
}

.selectTime:before {
  font-family: 'FontAwesome';
  content: "\f073";
  color: #3a3a3a;
  font-size: 16px;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}

.dropdown {
  //width: 200px;
  display: none;
  position: absolute;
  width: 200px;
  list-style: none;
  border: 1px solid;
  margin: 0;
  padding: 0;
  background: #fff;

}

.dropdown > li {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  cursor: pointer;
  margin: 0;
}

.dropdown > li:hover {
  background: #e1e1e8;
}

.article-ul-none {
  //display: none;
}

.article-ul-active {
  //display: block;
}

.fileinput-button-icon {
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: #CCC;
  height: 80px;
  line-height: 80px;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.fileupload {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.fileClass {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px dashed #CCC;
  background: none;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-top;
  &:hover {
    cursor: pointer;
    border: 1px dashed $button-base-default-background-color;
  }
}

.fileClass img {
  width: 76px;
  cursor: pointer;
  height: 76px;
}

.fileClass .removeimg {
  position: absolute;
  top: -16px;
  cursor: pointer;
  right: -10px;
  font-size: 25px;
  color: rgba(66, 70, 70, 0.43);
  opacity: 0.9;
}

.fileClass .removeimg:hover {
  position: absolute;
  top: -16px;
  cursor: pointer;
  right: -10px;
  font-size: 25px;
  color: rgb(204, 204, 204);
  opacity: 0.9;
}

#btnSub1 {
  vertical-align: bottom;
}

.fileContainer ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.fileContainer > ul > li {
  list-style: none;
  //display: inline-block;
  margin-right: 10px;
}

.form-sign {
  margin: 0;
  width: 100%;
}

.page-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.hiddenInputFile {
  width: 0;
  height: 0;
  overflow: hidden;
}

.editGspfileuploadInput {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.waitChangePriceInput {
  padding-left: 3px;
}

.portal_text_overflow {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.space-sm-bottom {
  margin-bottom: 13px;
}
