.gsp-table{
    padding-left: 30px;
}
.gsp-table table{
    font-size: 14px;
}
.gsp-table table tr{
    height: 40px;
}
.gsp-table table tr h5{
    margin: 0;
}
.gsp-table table tr td{
    border:0 !important;
    vertical-align: inherit;
    width: 100px;
    padding: 0;
}
.gsp-table .gsp-edit tr td input{
    width: 95%;
    background-color: transparent;
}
.gsp-table .gsp-edit tr td .input-time{
    width: 38%;
    background-color: transparent;
}
.gsp-table .gsp-info tr td input{
    width: 80%;
    border: none;
    background-color: transparent;
}
.gsp-table .gsp-info tr td .input-time{
    width: 38%;
    border: none;
    background-color: transparent;
}
.gsp-edt-tab {
    input {
        border: solid 1px #e6e6e6;
        height: 22px;
    }
    select {
        border: solid 1px #e6e6e6;
        height: 22px;
        option:nth-child(2n) {
            background-color: #e6e6e6;
        }
    }
}