$choose-border-color: #125522;
$not-choose-border-color: #e6e6e6;
$not-choose-border-color-gray: #bbbbbb;

.padding-top-md {
  padding-top: 10px;
}

.padding-bottom-md {
  padding-bottom: 10px;
}

.payment-type-container-green {
  border: 1px solid $choose-border-color;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    border-left: 1px solid $choose-border-color;
    left: 196px;
  }
}

.payment-type-container-gray {
  border: 1px solid $not-choose-border-color-gray;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    border-left: 1px solid $not-choose-border-color-gray;
    left: 196px;
  }
}

.payment-type-container {
  border-radius: 5px;
  .payment-type-left {
    width: 196px;
    padding: 25px;
    display: inline-block;
    vertical-align: middle;
  }
  .tipsToUser {
    height: 100%;
    display: inline-block;
    width: calc(100% - 200px);
    vertical-align: middle;
    span {
      word-wrap: break-word;
      word-break: normal;
      color: red;
    }
  }
  .paymentType-setting {
    height: 100%;
    display: inline-block;
    width: calc(100% - 200px);
    vertical-align: middle;
    padding: 10px;
    .paymentType-setting-config-value {
      height: 100%;
      width: 68%;
      vertical-align: middle;
      display: inline-block;
      .setting {
        width: 100%;
        margin-bottom: 15px;
        > span {
          width: 13%;
          text-align: center;
          display: inline-block;
          word-wrap: break-word;
          word-break: normal;
          vertical-align: middle;
        }
        > input {
          padding-left: 15px;
          vertical-align: middle;
          width: 80%;
          line-height: 30px;
          border: 1px solid #e6e6e6;
          border-radius: 10px;
          &:hover {
            outline: 0;
            border: 1px solid #237935;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(241, 186, 169, .6);
          }
          &:focus {
            outline: 0;
            border: 1px solid #237935;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(241, 186, 169, .6);
          }
        }
      }
      div:last-child {
        margin-left: 50px;
        button {
          border-radius: 6px;
          padding: 8px 15px;
        }
      }
    }
    .paymentType-setting-config-description {
      height: 100%;
      width: 30%;
      float: right;
      vertical-align: middle;
      display: inline-block;
      span {
        color: red;
      }
      div:last-child {
        margin-top: 15px;
      }
      a {
        text-decoration: underline;
      }
    }
  }
  .payment-img-container {
    height: 45px;
    img {
      height: 45px;
    }
  }
  .radio .iradio {
    margin-right: 2px;
  }
  .radioContainer {
    margin-top: 15px;
    text-align: center;
  }
  .btn-container {
    margin-top: 18px;
    text-align: right;
    button {
      padding: 2px 4px 2px 4px;
    }
  }
}

.check-hover {
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

.check-span {
  line-height: 20px;
}

#accountBasicInfo {
  margin-top: 30px;
  color: #666;
  #basicAccountInfo {
    .first-td {
      text-align: right;
      padding-right: 20px;
    }
    .second-td {

    }
    .long_type_input {
      width: 500px;
    }
  }
}

#releaseRuleInfo {
  margin-top: 30px;
  #ruleReleaseInfo {
    tr {
      td {
        color: #666;
        padding: 10px 20px;
        i {
          cursor: pointer;
        }
      }
      td.first_cp_td {
        padding: 0;
      }
    }
  }
}

#useRuleInfo {
  margin-top: 30px;
  table {
    width: 100%;
    tbody {
      width: 100%;
      tr {
        td {
          padding: 10px 0;
          color: #666;
          .selectGoods_td {
            text-align: left;
          }
          .green_span {
            color: #50AF4F;
            margin: 0 0 30px 15px;
            font-size: 14px;
            cursor: pointer;
          }
          .red_span {
            color: red;
            font-size: 14px;
            cursor: pointer;
          }
          .deleteLine {
            margin-left: 20px;
          }
          ul {
            list-style: none;
            i {
              cursor: pointer;
            }
          }
          ul.inline_ul {
            width: 100%;
            margin: 0 0 10px 0;
            li {
              display: inline;
              .s_in {
                width: 80px;
                border-radius: 8px;
                margin: 0 3px;
                border: 1px solid #BBBBBB;
                padding: 3px 3px;
                height: 30px;
                outline: none;
              }
              .s_se {
                width: 50px;
                border-radius: 8px;
                margin: 0 3px;
                border: 1px solid #BBBBBB;
                padding: 3px 3px;
                height: 30px;
                outline: none;

              }
            }
          }
          .use_input {
            border: 1px solid #bbb;
            border-radius: 4px;
            outline: 0;
            padding-left: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            width: 100%;
          }
        }
      }
    }
  }
  table.sm-page-table {
    tr {
      td {
        border: 1px solid #e6e6e6;
        border-width: 0 1px 1px 0;
        padding: 0;
      }
    }
  }
}