//筛选条
#sort-menu>div{
  float: left;
  width: 95px !important;
  height: 43.4px;
  line-height: 40px;
}
#sort-menu>ul>li>ul{
  background: #fff;
  min-width: 100px;
}
#sort-menu>ul>li>ul>li{
  width: 100%;
  margin-bottom: 0px;
}
#sort-menu .nav>li{
  float: left ;
  border: none;
}
#sort-menu #fat-menu{
  width: 95px;
  height: 42.4px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}
#sort-menu .dropdown-menu>li>a{
  background-color: #fff;
  width: 90px;
  display: block;

}
#sort-menu .dropdown-menu>li>a:hover{
  background-color: #237935;
  color:#fff;
}
#sort-menu .dropdown-menu>li>a:after{
  color: #ffffff;
  opacity: 0;
  text-decoration: none;
}
#sort-menu .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

//基 医 处 拆

.goods-name-box{
  width: 100%;
  height: 20px;

}
.goods-name-box>div{
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin-left: 5px;
  color:#fff;
  font-size: 12px;
  cursor: default;
}
.goods-name-box .base-medical-sign{
  background: #55bdd3;
}
.goods-name-box .medical-sign{
  background: #7fd355;
}
.goods-name-box .prescriptions-sign{
  background: #f0b75e;
}
.goods-name-box .dismantle-sign{
  background: #59db9f;
}



