<% include customer/header.ejs%>

<!--Off-Canvas-->
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <!--Layout-->
        <div class="site-layout">
            <!--If you add class "boxed" to .site-layout it wraps the whole document in a box, than you can simply add pattern background to body or leave it white. Please note in a "boxed" mode header doesn't stick to the top.-->

            <% include customer/_nav_top.ejs %>

            <% include customer/_nav_head.ejs %>
            <!--Page Content--><!-- InstanceBeginEditable name="content" -->
            <div class="page">
                <!--Breadcrumbs-->
                <div style="position: relative;border-bottom: 1px solid #000;" class="container group sorting">
                    <ol class="breadcrumb">
                        <li><a href="/" class="click-link">主页</a></li>
                        <i class="fa fa-angle-right"></i>
                        <li class="active"><a href="activity_area">活动专区</a></li>
                    </ol>
                </div><!--Breadcrumbs Close-->
                <div class="container space-top">
                    <div style="float: right">
                        <div class="radio">
                            <label><input type="radio" name="colors" value="black" id="color_0" checked> 按名字</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="colors" value="black" id="color_0" checked> 按厂家</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="colors" value="black" id="color_0" checked> 按价格</label>
                            <input value="输入关键字" name="key"/>
                            <input class="btn btn-primary" type="submit" value="搜索" name="search"/>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="col-sm-12 double-padding-bottom">
                        <div class="space-top">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>商品信息</th>
                                    <th>截止时间</th>
                                    <th>剩余数量</th>
                                    <th>价格</th>
                                    <th>批发包装</th>
                                    <th>数量</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="vertical-align: inherit;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;">
                                            <h6><a href="/goods/detail" class="click-link">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6> 25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h6>2015-02-01</h6>
                                        <h6>12：20：56</h6>
                                    </td>
                                    <td style="vertical-align: inherit;">500件</td>
                                    <td style="vertical-align: inherit;">12.99</td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>

                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-count">
                                            <a class="incr-btn fa fa-minus inactive click-link" data-action="decrease" id="quantitymin_0" href="#"></a>
                                            <input class="quantity goods_quantity" goodsid="123456" id="quantitybox_0" type="text" value="1" style="width:50px;text-align: center">
                                            <a class="incr-btn fa fa-plus click-link" data-action="increase" id="quantityplus_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <a href="" class="click-link"><i class="fa fa-shopping-cart"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: inherit;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;">
                                            <h6><a href="/goods/detail" class="click-link">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6> 25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h6>2015-02-01</h6>
                                        <h6>12：20：56</h6>
                                    </td>
                                    <td style="vertical-align: inherit;">500件</td>
                                    <td style="vertical-align: inherit;">12.99</td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>

                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-count">
                                            <a class="incr-btn fa fa-minus inactive click-link" data-action="decrease" id="quantitymin_0" href="#"></a>
                                            <input class="quantity goods_quantity" goodsid="123456" id="quantitybox_0" type="text" value="1" style="width:50px;text-align: center">
                                            <a class="incr-btn fa fa-plus click-link" data-action="increase" id="quantityplus_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <a href="" class="click-link"><i class="fa fa-shopping-cart"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: inherit;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;">
                                            <h6><a href="/goods/detail" class="click-link">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6> 25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h6>2015-02-01</h6>
                                        <h6>12：20：56</h6>
                                    </td>
                                    <td style="vertical-align: inherit;">500件</td>
                                    <td style="vertical-align: inherit;">12.99</td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>

                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-count">
                                            <a class="incr-btn fa fa-minus inactive click-link" data-action="decrease" id="quantitymin_0" href="#"></a>
                                            <input class="quantity goods_quantity" goodsid="123456" id="quantitybox_0" type="text" value="1" style="width:50px;text-align: center">
                                            <a class="incr-btn fa fa-plus click-link" data-action="increase" id="quantityplus_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <a href="" class="click-link"><i class="fa fa-shopping-cart"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: inherit;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;">
                                            <h6><a href="/goods/detail" class="click-link">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6> 25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h6>2015-02-01</h6>
                                        <h6>12：20：56</h6>
                                    </td>
                                    <td style="vertical-align: inherit;">500件</td>
                                    <td style="vertical-align: inherit;">12.99</td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>

                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-count">
                                            <a class="incr-btn fa fa-minus inactive click-link" data-action="decrease" id="quantitymin_0" href="#"></a>
                                            <input class="quantity goods_quantity" goodsid="123456" id="quantitybox_0" type="text" value="1" style="width:50px;text-align: center">
                                            <a class="incr-btn fa fa-plus click-link" data-action="increase" id="quantityplus_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <a href="" class="click-link"><i class="fa fa-shopping-cart"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: inherit;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;">
                                            <h6><a href="/goods/detail" class="click-link">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6> 25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h6>2015-02-01</h6>
                                        <h6>12：20：56</h6>
                                    </td>
                                    <td style="vertical-align: inherit;">500件</td>
                                    <td style="vertical-align: inherit;">12.99</td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>

                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-count">
                                            <a class="incr-btn fa fa-minus inactive click-link" data-action="decrease" id="quantitymin_0" href="#"></a>
                                            <input class="quantity goods_quantity" goodsid="123456" id="quantitybox_0" type="text" value="1" style="width:50px;text-align: center">
                                            <a class="incr-btn fa fa-plus click-link" data-action="increase" id="quantityplus_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <a href="" class="click-link"><i class="fa fa-shopping-cart"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: inherit;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;">
                                            <h6><a href="/goods/detail" class="click-link">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6> 25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h6>2015-02-01</h6>
                                        <h6>12：20：56</h6>
                                    </td>
                                    <td style="vertical-align: inherit;">500件</td>
                                    <td style="vertical-align: inherit;">12.99</td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive click-link" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle click-link" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>

                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <div class="qnt-count">
                                            <a class="incr-btn fa fa-minus inactive click-link" data-action="decrease" id="quantitymin_0" href="#"></a>
                                            <input class="quantity goods_quantity" goodsid="123456" id="quantitybox_0" type="text" value="1" style="width:50px;text-align: center">
                                            <a class="incr-btn fa fa-plus click-link" data-action="increase" id="quantityplus_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <a href="" class="click-link"><i class="fa fa-shopping-cart"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="double-space-top">
                        <h5 style="display: inline-block;float: left;">共6件</h5>
                        <ul class="pagination" style="width: auto;float: right;margin: 0px;">
                            <li class="prev goToPage" value="0">
                                <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=0">上一页</a>
                            </li>


                            <li class="goToPage active" value="1">
                                <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=1">1</a>
                            </li>

                            <li class="goToPage " value="2">
                                <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=2">2</a>
                            </li>

                            <li class="goToPage " value="3">
                                <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=3">3</a>
                            </li>

                            <li class="goToPage " value="4">
                                <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=4">4</a>
                            </li>

                            <li>...</li>
                            <li class="goToPage" value="10">
                                <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=10"> 10</a>
                            </li>
                            <li class="next goToPage" value="2">
                                <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=2">下一页</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--Page Content Close-->
        </div>
        <!--Layout Close-->
    </div>
</div>

<!--Off-Canvas Close-->
<% include customer/footer.ejs %>
<% include customer/_nav_bottom.ejs%>