<% include customer/header.ejs%>
<!--Off-Canvas-->

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->
        <% include customer/_nav_top.ejs %>
        <!--Header Toolbar Close-->

        <!--Header-->
        <% include customer/_nav_head.ejs %>
        <!--Header Close-->
        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom">
            <!--loginbox-->
            <section class="specialty-page">
                <div class="container">
                    <input type="hidden" id="nextToValue" name="nextTo" value="<%= data.nextTo %>"/>
                    <div class="row loginContainer">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                            <div class="page-heading">
                                <h2>登录</h2>
                            </div>
                            <form method="post" class="login-form" action="/login">
                                <div class="form-group">
                                    <label class="sr-only" for="email"></label>
                                    <input type="text" class="form-control input-lg" name="username" id="username"
                                           placeholder="请输入登录名" required style="font-size: 14px">
                                </div>
                                <div class="form-group" style="position: relative">
                                    <label class="sr-only" for="password"></label>
                                    <input type="password" class="form-control input-lg" name="password" id="password"
                                           placeholder="请输入登录密码" required  style="font-size: 14px">
                                </div>
                                <div class="form-group" style="height:44px;margin-bottom:3px">
                                    <!--<label class="sr-only" for="code"></label>-->
                                    <input onkeyup="checkCaptcha(this,event)" type="text" style="margin-right:0;width:64%" class="form-control col-sm-9" name="captcha" id="captcha"
                                           placeholder="请输入验证码, 点击右侧图片刷新验证码" required style="font-size:14px">
                                    <span style="float:right;padding-right:0;padding-left:0" class="col-sm-3">
                                        <a  style="margin-right:0"  onclick="$('img[id=captcha]').attr('src','/captcha?' + (new Date()).getTime());" id="reloadCaptcha"
                                            href="javascript:void(0)">
                                            <img id="captcha" src="/captcha" style="height:38px;margin-right:0"/>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-group" id="codeTip" style="display:block">
                                    <!--<span style="position: absolute;left: 0;color: red"><%= data.passHolder %></span>-->
                                    <span style="color: red" id="loginTip"></span>
                                </div>
                                <div class="form-group" style="text-align:center">
                                    <input style="display:inline-block" class="btn btn-md btn-primary" type="button" id="login" value="登录">
                                </div>

                            </form>
                            <a class="helper-text" href="/forgot_pwd">忘记密码?</a>
                            <p>没有账号? <a href="/page/register">注册账号</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <!--login box Close-->
        </div>
        <div class="sm-bottom"></div>
    </div>
    <% include customer/_nav_bottom.ejs %>
    <% include customer/footer.ejs %>
    <script src="/static/source/js/login.js"></script>
</div>
