:local(.loading) {
    display: inline-block;
    padding: 5px;
    color: #0d85ff;
}

:local(.percent) {
    padding: 5px;
    color: #0d85ff;
}

:local(.icon) {
    padding: 0 0 5px 7px;
}

:local(.rotation) {
    font-size: 15px;
    margin-right: 5px;
}
