:local(.spaceLef) {
    margin-left: 10px;
}

:local(.spaceUp) {
    margin-top: 20px;
}

:local(.parentPosition) {
    position: relative;
    height: 100%;
    background-color: #F0F0F2
}

:local(.tips) {
    color: red;
}