:local(.ydayInfo) {
    font-size: 16px;
}

:local(.home) {
    margin: 10px 0 10px 0;
    font-size: 18px;
}

:local(.font) {
    color: #03a9f4;
}

:local(.lineChart) {
    background: white;
}

:local(.head) {
    width: 100%;
    text-align: center;
    line-height: 50px;
    padding-left: 20px;
    background-color: white;
}

:local(.svg) {
    margin-left: 30px;
    font-size: 14px;
    color: #03a9f4;
}