:local(.operation button) {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
}

.tabs {
    width: 43%;
}

.tabs .ant-tabs-tab-inner {
    padding-left: 0;
    padding-right: 0;
}

.tabs .ant-tabs-nav .ant-tabs-tab {
    margin-left: 14px;
    margin-right: 14px;
}