:local(.quotationPriceContainer){
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:50px;
    padding-left:8px;
    padding-right:5px;
    font-size:16px;
    border-bottom:1px solid #DADADA;
    background-color:white;
}
:local(.goodsDetailContainer){
    background-color:white;
    margin-bottom:11px;
}

:local(.imgAndSingleContainer){

    height:88px;
}
:local(.imgContainer){
    width:20%;
    float:left;
}
:local(.imgContainer img){
    width: 60px;
    height: 60px;
}
:local(.singleGoodContainer){
    width:80%;
    float:left;
    color:#999;
}
:local(.spaceUp){
    margin-top:5px;
    padding-left:5px;
}
:local(.commonName){
    color:black;
    font-size:16px;
}
:local(.quotationRow){
    height:40px;
    /*background-color:yellowgreen;*/
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px solid #DADADA;
    border-top:1px solid #DADADA;
}
:local(.quotationRowFirstCol){
    padding-left:5px;
    width:20%;
    text-align:left;
}
:local(.quotationRowSecondCol){
    width:60%;
    text-align:left;
}
:local(.quotationRowThirdCol) {
    color:#999;
    width:20%;
    padding-right: 5px;
    text-align: right;
}
:local(.fontColorDescribe){
    color:#999;
}
:local(.fontColorValue){
    color:#03A9F4
}

