.tool-head{
    height: 30px;
    line-height: 30px;
    padding: 0 !important;
    border: 0;
    font-size: 12px;
    color: #666666;
    background: #f5f5f5 !important;
}

.tool-head .logout{
    color: #237935 !important;
}