.nav-header {
    height: 90px;
    background: #f5f5f5;
}
.menu-list {
    font-size: 14px !important;
    color: #333333;
}
.menu-list .classify-list a {
    font-size: 12px !important;
    margin-left: 20px;
    color: #666666;
}
.menu-list .sub-submenu {
    background: #f5f5f5;
}

.tool {
    width: auto !important;
    margin-top: 25px;
}
.tool .search-defined {
    margin: 0 !important;
}

.tool .cart-btn-defind {
    margin-top: 0 !important;
}
.tool input {
    width: 300px;
}
.tool button{
    top: 0 !important;
}
.tool i{
    font-size: 27px !important;
}