:local(.box){
    position: relative;
}

:local(.table){
    /*margin-top:10px;*/
    background-color: #fff;
}

:local(.filter){
    position: absolute;
    top:-8px;
    z-index: 99;
    right:0;
}

:local(.pagination){
    margin:30px 5px 10px 0;
    float: right;
}
:local(.cardContainer) .ant-tabs-tabs-bar{
    /*margin-top: 0;*/
}
:local(.cardContainer) > .ant-tabs-card .ant-tabs-content{
    background: #fff;
    /*padding: 16px;*/
    margin-top: -16px;
}

:local(.cardContainer) .ant-tabs-card .ant-tabs-bar{
    border: none;
}

.ant-tabs.ant-tabs-card .ant-tabs-tab{
    background-color: #fff;
}

:local(.cardContainer) .ant-tabs-card .ant-tabs-tab-active{
    background-color: #F7F7F7;
    border: none;
}