:local(.search) .ant-input{
    background-color: #0E131A;
    border-color: #0E131A;
    outline:none;
    color: rgba(255,255,255,.8);
    font-size: 16px;
}

:local(.search){
    margin:15px auto;
    width:85%;
}
:local(.search) span{
    color: #fff;
}

:local(.search) .ant-search-btn{
    background-color: #0E131A;
    border-color: #0E131A;
}

:local(.search) .ant-search-btn:hover, :local(.search) .ant-search-btn:link{
    background-color: #0E131A;
    border-color: #0E131A;
}


:local(.search) .anticon-search{
    font-weight: bolder;
    color: #fff;
}