<% include ../../header.ejs%>
<%
var goodsType = data._goodsTypes.children;
%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <% include ../_nav_head.ejs%>
        <div class="page double-padding-bottom">
            <div class="container page-content">
                <div class="row space-top">
                    <% var active = "financeCenter"; %>
                    <% include ../_nav_customer_left.ejs%>
                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/bill/financecenter" >授信客户结款</a>
                                <a href="/customer/bill/cod">货到付款结款</a>
                                <a href="/customer/bill/bonusReports" class="itemActive">红冲记录</a>
                                <a href="/customer/bill/refundCheck">退款审核</a>
                                <a href="/customer/bill/refundPerform">退款执行</a>
                                <a href="/customer/bill/tradeDetail">交易明细</a>
                            </div>
                        </div>
                        <div class="detail-client-name-container margin-top-sm">
                            <div class=" vertical-middle pull-left" >
                                选择时段:
                                <div style="height: 40px;display:inline-block">
                                    <i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:105px;"    placeholder="开始时间"  id="priceStartDate" type="text" readonly class="datePicker selectTime"/>
                                    －
                                    <i class="fa fa-calendar"></i>
                                    <input style="vertical-align:middle;width:105px"    placeholder="截止时间" id="priceEndDate" type="text"  readonly class="datePicker selectTime"/>
                                </div>
                            </div>
                            <div class="defaultdropdown  margin-left-md"  style="display:inline-block;">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>全部状态</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="click-link" href="">全部状态</a>
                                        </li>
                                        <li>
                                            <a class="click-link" onclick="">待确认</a>
                                        </li><li>
                                            <a class="click-link" onclick="">待退款</a>
                                        </li><li>
                                            <a class="click-link" onclick="">退款失败</a>
                                        </li><li>
                                            <a class="click-link" onclick="">退款成功</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <input type="text" placeholder="输入订单号/客户名称"/>
                            <button class="btn">查询</button>
                            <button class="btn btn-primary pull-right"> 导出</button>
                        </div>
                        <div class="bonus-report-sum margin-top-sm">
                                合计
                                <span class="margin-left-sm">待确认:</span>
                                <span class="margin-left-sm font-color-orange">251561.05</span>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table ">
                                <thead class="finance-table-head">
                                <tr>
                                    <td><strong>订单编号</strong></td>
                                    <td><strong>客户名称</strong></td>
                                    <td><strong>摘要</strong></td>
                                    <td><strong>发生时间</strong></td>
                                    <td><strong>红冲金额</strong></td>
                                    <td><strong>状态</strong></td>
                                    <td><strong>操作</strong></td>
                                </tr>
                                </thead>
                                <tbody class="finance-table-body">

                                <tr>
                                    <td class="font-color-green">201516546465</td>
                                    <td>XXXX医院</td>
                                    <td>订单关闭</td>
                                    <td>2015-9-8 00:00:00</td>
                                    <td class="font-color-red">&yen;10151.01</td>
                                    <td class="font-color-blue-green">待确认</td>
                                    <td>
                                        <i class="fa fa-check-circle-o"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-color-green">201516546465</td>
                                    <td>XXXX医院</td>
                                    <td>订单关闭</td>
                                    <td>2015-9-8 00:00:00</td>
                                    <td class="font-color-red">&yen;10151.01</td>
                                    <td class="font-color-blue-green">待确认</td>
                                    <td>
                                        <i class="fa fa-times-circle-o"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-color-green">201516546465</td>
                                    <td>XXXX医院</td>
                                    <td>订单关闭</td>
                                    <td>2015-9-8 00:00:00</td>
                                    <td class="font-color-red">&yen;10151.01</td>
                                    <td class="font-color-blue-green">待确认</td>
                                    <td>
                                        <i class="fa fa-check-circle-o"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-color-green">201516546465</td>
                                    <td>XXXX医院</td>
                                    <td>订单关闭</td>
                                    <td>2015-9-8 00:00:00</td>
                                    <td class="font-color-red">&yen;10151.01</td>
                                    <td class="font-color-blue-green">待确认</td>
                                    <td>
                                        <i class="fa fa-check-circle-o"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="font-color-green">201516546465</td>
                                    <td>XXXX医院</td>
                                    <td>订单关闭</td>
                                    <td>2015-9-8 00:00:00</td>
                                    <td class="font-color-red">&yen;10151.01</td>
                                    <td class="font-color-blue-green">待确认</td>
                                    <td>
                                        <i class="fa fa-check-circle-o"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-color-green">201516546465</td>
                                    <td>XXXX医院</td>
                                    <td>订单关闭</td>
                                    <td>2015-9-8 00:00:00</td>
                                    <td class="font-color-red">&yen;10151.01</td>
                                    <td class="font-color-blue-green">待确认</td>
                                    <td>
                                        <i class="fa fa-check-circle-o"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-color-green">201516546465</td>
                                    <td>XXXX医院</td>
                                    <td>订单关闭</td>
                                    <td>2015-9-8 00:00:00</td>
                                    <td class="font-color-red">&yen;10151.01</td>
                                    <td class="font-color-blue-green">待确认</td>
                                    <td>
                                        <i class="fa fa-check-circle-o"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="margin-top-md">
                            <button class="btn btn-primary">返回</button>


                            <% var url = "operatorLog?"%>
                            <% include ../../_paginator.ejs%>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>
<script>
    $('.datePicker').datetimepicker({
        timepicker: false,
        format:'Y-m-d'
    });
</script>