:local(.table){
    background-color: #fff;
}
:local(.total){
    font-size:18px;
    color:red;
    text-align: end;
    margin:10px 0px 10px 0px ;
}

:local(.filter Button){
    background-color: #29b6f6;
    color: #fff;
    opacity: 1;
}
:local(.filter){
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    position: fixed;
    bottom:0px;
    left:100px;
    z-index: 99;
    width: 95%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.6);
    background: transparent\9;
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
}
:local(.filter Button:hover){
    background-color: #67c2ec;
    color: #fff;
}