
:local(.line) {
    height: 50px;
}

:local(.first) {
    height: 50px;
    text-align: right;
    padding-right: 20px;
    color: #999999;
}

:local(.validSpan) {
    color: red;
    margin-left: 20px;
}

:local(.input) {
    height: 30px;
    border: 1px solid #e6e6e6;
    line-height: 20px;
    width: 450px;
}

:local(.createKey) {
    margin-left: 10px;
}