:local(.quotationCardContainer){
    background-color:#F2F4F5;
    border:1px solid #DADADA;
    width:100%;
    margin-bottom:7px;
}

:local(.cardLeftHeader){
    display:flex;
    justify-content: flex-start;
    align-items:center;
    float:left;
    width:50%;
    font-weight:bold;
    color:#333333;
    padding-left:6px;

}
:local(.cardRightHeader) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    padding-right:4px;
}

:local(.qCardQuote){
    color:#E51C23;
}
:local(.qCardOutOfDate){
    color:#999
}
:local(.qCardQuoting){
    color:#E51C23;
}
:local(.qCardInvalid){
    color:#999
}
:local(.qCardDetail){
    color:#ADADAD;
    border:2px solid #DADADA;
}

:local(.quotationCardDetail){
    background-color:#FFFFFF;
    border-top:1px solid #DADADA;
    padding-left:6px;
    color:#999;
}
:local(.quotationCardHeader){
    height:30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
:local(.spaceUp){
    margin-top:6px;
}