:local(.box) {
    font-size: 16px;
}

:local(.user) {
    color: #2baf2b;
}

:local(.hospital) {
    margin-left: 5%;
}

:local(.description) {
    margin-left: 2%;
}


:local(.wechat){
    font-size:13px;
    margin-top:1%;
    padding:1%;
    color:#101010
}
:local(.wechatshow){
    margin-top:1%;
    padding:2% 2% 1px 2% ;
}

:local(.number) {
    color: red;
}

:local(.usrInfo) {
    margin-left: 5%;
}