:local(.displayDivContainer) {
    display:flex;
    align-items:center;
    width: 100%;
    height: 35px;
    background-color:white;
}
:local(.firstDiv){
    float:left;
    width:50%;
    font-weight:bold;
    padding-left:4px;
    background-color:white;
}
:local(.secondDiv){
    text-align:right;
    float:right;
    width:50%;
    padding-right:5px;
    color:#999;
    background-color:white;

}
