:local(.detail){
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #BBBBBB;
    border-top: 7px solid #EBEBEB;
}
:local(.list){
    /*margin-bottom: 10px;*/
    padding: 10px 10px 4px 2%;
}
:local(.total){
   border-top: 7px solid #EBEBEB;
   padding:10px 10px 10px 2%
}
:local(.info){
    float: right;
}
:local(.price){
    float: right;
    color:red;
}
:local(.goods){
    padding: 3% 3% 0 1%;
    margin-bottom: 2%;
    font-size:13px;
    color:#101010;
    border-bottom:1px solid #BBBBBB;
}
:local(.icon){
    margin: 0px 5px 0px 5px;
    color:green;
}
:local(.title){
    color: #ADADAD;
    float: right;
}
:local(.marginBottom){
    margin-bottom:4px;
}
