:local(.list) {
    width: 43%;
    height: 660px;
}

:local(.searchInput) {
    width: 100%;
}

:local(.footButton) {
    float: right;
    clear: both;
    margin-bottom: 3px;
    margin-right: 3px;
}

:local(.listBodyContent) {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
    top: 40px;
    list-style: none;
}

:local(.listBodyContent ul) {
    background: #fff;
}

:local(.listBodyContent ul li) {
    padding: 2px;
}

:local(.listBodyContent ul li input[type='radio']) {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

:local(.listBodyContent ul li input[type='radio']:focus) {
    outline: none;
}

:local(.productItem) {
    display: inline-block;
    zoom: 1;
    margin-left: 15px;
}

:local(.listBackgorund) {
    background: #fff;
}

.product-list .ant-transfer-list-footer {
    border-top: none;
}