:local(.header) {
    width: 100%;
    background: #fff;
    font-size: 16px;
    position: relative;
    border-bottom: 1px solid #DBDBDB;
    padding-left: 20px;
    padding-right: 20px;
}

:local(.headerLeft) {
    height: 60px;
    line-height: 60px;
    text-align: start;
}

:local(.headerLeft span) {
    font-size: 16px;
    color: #666;
}

:local(.headerRight) {
    height: 60px;
    line-height: 60px;
    text-align: end;
    padding-right: 15px;
}

:local(.headerRight span) {
    font-size: 14px;
    color: #999;
}

:local(.headerRight a) {
    color: #2baf2b;
    margin-left: 15px;
    cursor: pointer;
}

:local(.headerRight a:hover) {
    text-decoration: underline;
}