:local(.box) {
    position: relative;
}

:local(.img) {
    width: 100px;
    max-height: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

:local(.ul) {
    display: inline-block;
    height: 100%;
    width: 80%;
    vertical-align: middle;
}

:local(.ul li) {
    margin-top: 5px;
}

:local(.item) {
    width: 100px;
    max-height: 100px;
}