
.ant-modal-header {
    padding: 11px 18px 10px 24px;
    background-color: #f5f5f5;
    border-bottom: none;
}

.ant-modal-footer {
    border-top: none;
    padding: 0px 24px 30px 10px;
}

.ant-modal-footer button {
    height: 34px;
}

.ant-modal-footer button + button {
    margin-left: 24px;
    color: #999999;
}