:local(.marginUpLess){
    margin-top:4%;
}
:local(.spanRight){
    font-size:19px;
    color:white;
    text-align:center;
}

:local(.usernameDiv){
        width:100%;
        height:21px;
        background-color:#88A4BA
}
:local(.usernameDiv)::before{
    font-family: FontAwesome;
    content: "\F007 ";
    color: #FFFFFF;
    font-size: 18px;

}
:local(.usernameInput){
    background-color:#88A4BA;
    border:1px solid black;
    color:#364C6A
}
:local(.usernameInput)::-webkit-input-placeholder{
    color:#364C6A
}
:local(.usernameInput)::-moz-placeholder{
    color:#364C6A
}

/**下面的样式是适配移动端*/
:local(.marginUpLessMobile){
    /*margin-top:1%;*/
}

:local(.spanRightFirstMobile){
    font-size:38px;
    color:white;
    text-align:center;
    margin-bottom:4px;
}
:local(.spanRightSecondMobile){
    font-size:19px;
    color:white;
    text-align:center;
    margin-bottom:30px;
}
:local(.usernameDivMobile){
        width:100%;
        /*height:21px;*/
        background-color:transparent;
        border-top:none;
        border-left:none;
        border-right:none;
        border-bottom:1px solid #FFFFFF;
        margin-bottom:25px;
        /*padding-bottom:0.5%;*/
}
:local(.usernameDivMobile)::before{
    font-family: FontAwesome;
    content: "\F007 ";
    color: #CDEEFD;
    font-size: 16px;

}

:local(.pwdDivMobile){
    width:100%;
    /*height:21px;*/
    background-color:transparent;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #FFFFFF;

    /*padding-bottom:0.5%;*/
}
:local(.pwdDivMobile)::before{
    font-family: FontAwesome;
    content: "\F023 ";
    color: #CDEEFD;
    font-size: 16px;
}



:local(.usernameInputMobile){
    background-color:transparent;
    border:none;
    color:#036A99;
    width:92%;
    font-size:16px;
}
:local(.usernameInputMobile)::-webkit-input-placeholder{
    color:#036A99
}
:local(.usernameInputMobile)::-moz-placeholder{
    color:#036A99
}
:local(.loginBtnMobile){
    color:white;
    background-color:#066A99;
}

:local(.loginContent){
    width: 75%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: justify;
    font-size: 0;
}
:local(.loginContent)::after {
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    content: "."
}
:local(.loginTipsContainer){
    height:60px;
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
}
:local(.loginTips){
    color:red;
    font-size:16px;
    text-align:center;
}