.showcase-list {
  > .showcase-title {
    border-bottom: 2px solid $button-base-default-background-color;
  }
  > .showcase-content {
    @include display-flex();
    border: $border-default-size solid $borer-default-color;
    border-top: none;
    > .content-left {
      border-right: $border-default-size solid $borer-default-color;
      width: 26%;
      @include display-flex();
      flex-direction: column;
      .content-left-img-url {
        height: 300px;
        @include display-flex();
        justify-content: center;
        align-items: center;
        a {
          width: 80%;
          img {
            width: 100%;
          }
        }
      }
      .content-left-img-info {
        height: 180px;
        @include display-flex();
        justify-content: center;
        align-items: center;
        > div {
          width: 80%;
          height: 100%;
          display: flex;
          flex-direction: column;
          > div {
            margin-bottom: 15px;
          }
        }
      }
    }
    > .content-right {
      width: 74%;
      > .content-right-list-item {
        height: 80px;
        border-bottom: 1px solid $borer-default-color;
        @include display-flex();
        .goods-info {
          padding-left: 5px;
          width: 60%;
          @include display-flex();
          align-items: center;
          .goods-img {
            @include display-flex();
            padding-right: 5px;
            img {
              width: 70px;
              height: 70px;
            }
          }
          .goods-name-info {
            overflow: hidden;
          }
        }
        .list-item-right {
          width: 40%;
          @include display-flex();
          align-items: center;
          justify-content: space-around;
        }
        .not-more {
          width: 100%;
          @include display-flex();
          justify-content: center;
          align-items: center;
          color: #999;
        }
      }
      > .content-right-list-item-without-bottom {
        height: 80px;
        border-bottom: 0;
        @include display-flex();
        .goods-info {
          padding-left: 5px;
          width: 60%;
          @include display-flex();
          align-items: center;
          .goods-img {
            @include display-flex();
            padding-right: 5px;
            img {
              width: 70px;
              height: 70px;
            }
          }
          .goods-name-info {
            overflow: hidden;
          }
        }
        .list-item-right {
          width: 40%;
          @include display-flex();
          align-items: center;
          justify-content: space-around;
        }
        .not-more {
          width: 100%;
          @include display-flex();
          justify-content: center;
          align-items: center;
          color: #999;
        }
      }
    }
  }
}

.number-box {
  min-width: 100px;
  @include display-flex();
  align-items: center;
  > a > i {
    cursor: pointer;
    color: $button-base-default-background-color;
    font-size: 21px;
    margin-left: 21px;
  }
  > div > a > i {
    cursor: pointer;
    color: $button-base-default-background-color;
    font-size: 21px;
    margin-left: 21px;
  }
  > span {
    position: relative;
    > a {
      float: left;
      width: 26px;
      height: 26px;
      border: 1px solid #ccc;
      line-height: 26px;
      padding: 0;
      vertical-align: top;
      overflow: hidden;
      text-align: center;
      background-color: #F2FFF5;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      text-decoration: none;
      color: #999;
      cursor: pointer;
    }
    > input {
      float: left;
      margin: 0;
      padding: 0;
      width: 60px;
      height: 26px;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      border: 1px solid $borer-default-color;
      border-right: none;
      border-left: none;
      outline: 0;
      background: #fff;
    }
  }
}

.showcase-price {
  color: $base-red-color;
  font-size: $base-font-table;
  font-weight: bold;
  letter-spacing: 1px;
}

.showcase-commonName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  a {
    color: $body-font-color;
    font-size: $base-font-table;
  }
}

.showcase-producer {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  > a {
    color: #999;
    font-size: $base-font-table;
    cursor: auto;
    &:hover {
      color: #999;
    }
    &:focus {
      color: #999;
    }
  }
}