.page-tab-link {
  color: #333333;
  text-decoration: none;
}

.page-tab-link:hover {
  color: #237935;
  text-decoration: none;
}

.tabList {
  height: 100%;
  display: flex;
}

.tabList a {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  padding-left: 15px;
  height: $tab-height;
  line-height: $tab-height;
  padding-right: 15px;
  margin-bottom: -1px;
}

.tabList a:hover {
  color: $tab-focus-color;
  border-top: 2px solid $button-base-focus-background-color;
  border-left: $border-default-size solid $borer-default-color;
  border-right: $border-default-size solid $borer-default-color;
  background: $tab-focus-background-color;
  text-decoration: none;
  margin-bottom: -1px;
}

.tabList .itemActive {
  color: $tab-focus-color;
  border-top: 2px solid $button-base-focus-background-color;
  border-left: $border-default-size solid $borer-default-color;
  border-right: $border-default-size solid $borer-default-color;
  background: $tab-focus-background-color;
  text-decoration: none;
  margin-bottom: -1px;
}