.tracking-timeline .timeline {
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-end;
}

.tracking-timeline .timeline .checkpoint {
  position: relative;
  float: left;
  width: 20%;
  height: 5px;
  background: #e5e5e5;
}

.tracking-timeline .timeline .checkpoint.last {
  background: none;
}

.tracking-timeline .timeline .checkpoint span {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: -8px;
  left: -2px;
  background: #e5e5e5;
}

.tracking-timeline .timeline .checkpoint span:after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  width: 20px;
  height: 20px;
  top: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #bfbfbf;
}

.tracking-timeline .timeline .checkpoint span.active {
  background: #237935;
}

.tracking-timeline .timeline .checkpoint span.active:after {
  font-family: 'FontAwesome';
  content: '\f00c';
  color: #fff;
  width: auto;
  height: auto;
  background: none;
}

.tracking-timeline .timeline .checkpoint.active {
  background: #237935;
}

.tracking-timeline .timeline:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.tracking-timeline .labels {
  display: flex;
  justify-content: center;
}

.tracking-timeline .labels div {
  float: left;
  width: 20%;
  text-align: center;
}

.tracking-timeline .labels div i {
  display: none;
  font-style: normal;
}

@media only screen and (max-width: 480px) {
  .tracking-timeline .labels div span {
    display: none;
  }
  .tracking-timeline .labels div i {
    display: block;
  }
}