.business-scope .checkbox .icheckbox, .radio .icheckbox, .checkbox .iradio, .radio .iradio {
  position: relative;
  display: block;
  float: left;
  margin: 2px 9px 0 0;
  padding: 0;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #b8b8b6;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.business-scope .checkbox .icheckbox.checked, .radio .icheckbox.checked {
  border: 1px solid #237935;
}
.business-scope .checkbox .icheckbox.checked, .radio .icheckbox.checked {
  border-color: #237935;
  border-radius: 2px;
}
