/*
 *creat solid circle css
 *The used of view/customer/center/customer.ejs
 */
.circle
{
  width:100px;
  height:100px;
  border-radius:50px;
  font-size:10px;
  color:black;
  line-height:100px;
  text-align:center;
  background:#237935;
}
.page{
  //background: #ececec;
  background: #ffffff;
}
.panel-group h4{
  cursor: pointer;
}
.panel-group h5{
  cursor: pointer;
}
.panel-group h6{
  cursor: pointer;
}

.category-title:hover{
  background-color: rgba(153, 153, 153, 0.17);
}

.category-item{
  margin: 10px;
}

.category-item-parent>.panel-body{
  padding:0;
  background-color: #fff
}

.goods-nav{
  padding-top: 25px;
  background-color: #f5f5f5;
  height: 1100px;
}


.sort-left div{
  width: 75px;
  height: 44px;
  font-size: 14px;
  float: left;
  line-height: 44px;
  text-align: center;
  border-right: 1px solid #e6e6e6;
}
.sort-right{
  height: 44px;
  line-height: 44px;
  float: left;
  margin-left: 40px;
}
.sort-right>div{
  width: 100px;
}
.sortBtn{
  padding: 5px;
  font-size: 12px;
  margin-right: 20px;
  color: #666666;
}
.sortBtn-border{
  //border: 1px solid #999999;
}

.sortBtn-border:hover,
.sortBtn:hover{
  color: #237935;
}
.sortBtn .icheckbox{
  border-radius: 4px;
  width: 16px !important;
  height: 16px !important;
  background: #f5f5f5 !important;
}
.sortBtn>.checkbox{
  width: 30px !important;
}

//.activeSort{
//  background: #237935;
//  color: #fff;
//  border: none;
//}
.activeSort:hover{
  //color: #fff;
}
.sortUp:after{
  font-family: 'FontAwesome';
  content: "\f176";
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
}

.sortDown:after{
  font-family: 'FontAwesome';
  content: "\f175";
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
}

.setGoodsImgPath{
  width: 410px !important;
  height: 410px !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.setGoodsImgPathSmall{
  width: 110px !important;
  height: 110px !important;
}
.set-ms-view{
  margin-left: 0 !important;
}
.set-ms-thumbs-cont{
  left: 0 !important;
}

.dropDown-list{
  list-style: none;
  z-index: 10;
  background-color: white;
  position: absolute;
  top: 50px;
  width: 200px;
  padding-left: 0;
  display: none;
  -webkit-box-shadow: 5px 5px 5px #aaa;
  -moz-box-shadow: 5px 5px 5px #aaa;
  box-shadow: 5px 5px 5px #aaa;
}

.dropDown-list > li{
  padding: 5px;
}
.dropDown-list a {
  color: #000;
}

.dropDown-list li:hover{
  background: #eee;
}
.filter-item{
  display: inline-block;
  width: auto;
}
.filter-item>a{
  margin-left: 8px;
  cursor: pointer;
}

.rect>div{
  color:#666666 !important;
}
.rect>div:hover a{
  color: rgb(35, 121, 53) !important;
}
