.fuchai-content{
  height: 40px;margin: auto;
}
.fuchai-content>div{
  display: inline-block; padding-top:5px;width: 20px; height:20px;line-height: 20px;
}
.fuchai-content>span{
  display:inline-block;
}
