<aside class="left-off-canvas-menu">
    <div class="mobile-navi">
        <form method="get" class="mobile-search">
            <label class="sr-only" for="m-search"></label>
            <input class="form-control input-lg" name="m-search"
                   id="m-search" type="text" placeholder="Search">
            <button type="submit"><i class="flaticon-search100"></i>
            </button>
        </form>
        <ul class="buttons">
            <li><a href="/login">登录</a></li>
        </ul>
        <ul>
            <li class="current"><a href="/">官网首页</a></li>
            <li><a href="/goods">产品中心</a><span></span></li>
            <li>
                <a href="/building">活动专区</a><span></span>
            </li>
            <li><a href="/building">资讯中心</a><span></span></li>
            <li>
                <a href="/building">联系我们</a><span></span>
            </li>
        </ul>
    </div>
</aside>