<!--Copyright-->

<footer class="footer" style="bottom:0;left:0;">
    <div class="copyright copyright-bottom">
        <div class="container">
            <p>
                <a>营业执照</a>|
                <a>药品经营许可证</a>|
                <a>医疗器械经营许可证</a>|
                <a>GSP认证证书</a>|
                <a>ICP资格证书</a>|
                <a>互联网药品信息服务资格证:(浙)－经营性－2014－0008</a>|
                <a>互联网药品交易资格证书:浙B2014004</a>
                <br/>
                新疆神木药业有限责任公司 Copyright @ 2015 版权所有 <%if (typeof data !== "undefined" && typeof data._version !== "undefined") {%>- <%= data._version.version %>&nbsp;(<%= data._version.revision%>&nbsp;<%= data._version.time%>)<%}%>
            </p>
        </div>
    </div>
</footer>