<%
/*
 # Copyright © 2015
 # -----------------------------------------------------------------
 */
%>

<!--Javascript (jQuery) Libraries and Plugins-->

<script src="/static/js/libs/jquery-1.11.1.min.js"></script>
<script src="/static/js/libs/jquery.flexslider-min-2.6.0.js"></script>
<!-- 增强 页面jquery 的动画效果 -->
<script src="/static/js/libs/jquery.easing.min.js"></script>
<script src="/static/js/plugins/bootstrap.min.js"></script>
<!-- bootstrap 日期插件 -->
<!--<script src="/static/js/plugins/bootstrap-datepicker.js"></script>-->
<!-- 页面上下滚动插件 -->
<script src="/static/js/plugins/smoothscroll.js"></script>
<script src="/static/js/plugins/utilities.js"></script>
<!-- 响应式前端框架 -->
<script src="/static/js/plugins/foundation.min.js"></script>
<!-- 跨浏览器兼容html5 的placeholder特效 -->
<script src="/static/js/plugins/jquery.placeholder.js"></script>
<!-- 美化 checkbox 和 radio 页面样式 iCheck plugin -->
<script src="/static/js/plugins/icheck.min.js"></script>
<!-- 验证插件(多种基本验证规则, 自定义规则)-->
<script src="/static/js/plugins/jquery.validate.min.js"></script>
<!-- 页面滚动插件 -->
<script src="/static/js/plugins/waypoints.min.js"></script>

<script src="/static/js/plugins/isotope.min.js"></script>
<script src="/static/js/plugins/masterslider.min.js"></script>
<!-- jQuery 幻灯片插件 -->
<script src="/static/js/plugins/owl.carousel.min.js"></script>
<!-- jQuery 幻灯片, 画廊插件 -->
<script src="/static/js/plugins/lightGallery.min.js"></script>
<!-- jQuery 滚动视觉差效果插件 -->
<script src="/static/js/plugins/jquery.stellar.min.js"></script>
<script src="/static/js/plugins/jquery.parallax.min.js"></script>
<script src="/static/js/plugins/chart.min.js"></script>
<script src="/static/js/plugins/jquery-numerator.js"></script>
<!-- jQuery 倒数计时插件 -->
<!--<script src="/static/js/plugins/jquery.countdown.min.js"></script>-->
<!-- jQuery 饼图插件-->
<script src="/static/js/plugins/jquery.easypiechart.min.js"></script>
<script src="/static/js/plugins/jquery.nouislider.min.js"></script>
<script src="/static/js/plugins/card.min.js"></script>
<script src="/static/js/scripts.js"></script>
<script src="/static/js/jquery.base64.min.js"></script>
<script src="/static/js/underscore.js"></script>
<script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<!-- 页面弹出框 -->
<script src="/static/js/dialog-min.js"></script>

<!--scc-src js start -->
<script src="/static/source/js/validate.js"></script>
<script src="/static/source/js/public.js"></script>
<script src="/static/source/js/main.js"></script>
<script src="/static/source/js/dialog.js"></script>
<script src="/static/source/js/RestService.js"></script>
<script src="/static/source/js/picture.js"></script>
<script src="/static/source/js/customer.js"></script>
<script src="/static/source/js/datePicker.js"></script>
<script src="/static/source/js/getGoodsDetail.js"></script>
<script src="/static/source/js/customer/client.js"></script>
<script src="/static/source/js/customer/product.js"></script>
<script src="/static/source/js/customer/system.js"></script>
<script src="/static/source/js/customer/order.js"></script>
<script src="/static/source/js/customer/setInventory.js"></script>
<script src="/static/source/js/customer/setAvailable.js"></script>
<script src="/static/source/js/customer/setUnavailable.js"></script>
<script src="/static/source/js/customer/operatorLog.js"></script>
<script src="/static/source/js/customer/finance.js"></script>
<script src="/static/source/js/winSizeWarn.js"></script>

<!--scc-src js end -->

</body><!--Body Close-->
</html>