
<!doctype html>
<!--Conditionals for IE8-9 Support-->
<!--[if IE]><html lang="en" class="ie"><![endif]-->
<html>
<head>
    <meta charset="utf-8">

    <title>神木医药网</title>

    <!--SEO Meta Tags-->
    <meta name="description" content="Responsive Multipurpose HTML5 Template" />
    <meta name="keywords" content="responsive html5 template, multipurpose, blog, portfolio, e-commerce, bootstrap 3, css, jquery, flat, modern" />
    <meta name="author" content="8Guild" />
    <!--Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <!--Favicon-->
    <link rel="shortcut icon" href="/static/img/smlogo.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/smlogo.ico" type="image/x-icon">

    <!-- User-defined Stylesheet start -->
    <link href="/static/css/ui-dialog.css" rel="stylesheet" media="screen">
    <link href="/static/flexslider.css" rel="stylesheet" media="screen" />

    <link rel="stylesheet" href="/static/css/registerPage.css" media="screen">
    <link href="/static/css/datePicker.css" rel="stylesheet" media="screen" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/static/source/css/main.min.css" rel="stylesheet" media="screen">
    <!-- User-defined Stylesheet end -->

    <!--Master Slider Styles-->
    <link href="/static/masterslider/style/masterslider.css" rel="stylesheet" media="screen">
    <!--Kedavra Color Scheme-->
    <link class="color-scheme" href="/static/css/colors/color-237935.css" rel="stylesheet" media="screen">
    <!--Kedavra Stylesheet-->
    <link href="/static/css/styles.css" rel="stylesheet" media="screen">

    <!--Modernizr-->
    <script src="/static/js/libs/modernizr.custom.js"></script>
    <!--Adding Media Queries Support for IE8-->
    <!--[if lt IE 9]>
    <script src="/static/js/plugins/respond.js"></script>
    <![endif]-->

</head>

<!--Body-->
<body class="parallax animated fadeIn"><!--Add "parallax" class if you have elements on the page with parallax backgrounds. "fadeIn" class makes content fades in on loading-->
