<% include ../../header.ejs %>
<%
var goodsType = data._goodsTypes.children;
%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs %>
        <div class="page double-padding-bottom">
            <div class="container page-content">
                <div class="row space-top">

                    <% var active = "promotion"; %>
                    <% include ../_nav_customer_left.ejs %>

                    <section class="col-md-10 pull-right space-bottom">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href="/customer/promotion" class="itemActive">集合优惠券</a>
                                <a href="javascript:void(0)">组合优惠券</a>
                                <a href="javascript:void(0)">特价优惠券</a>

                                <a href="javascript:void(0)">收款方式</a>
                                <a href="javascript:void(0)">赠品管理</a>
                            </div>
                        </div>
                        <table class="sm-page-table">
                            <thead>

                            </thead>
                            <tbody>

                            </tbody>
                        </table>


                        <aside>
                            <div class="account-header margin-top-md">
                                <span>优惠券基本信息</span>
                            </div>
                        </aside>

                        <div id="accountBasicInfo" class="padding-left-sm">
                            <table id="basicAccountInfo">
                                <tr>
                                    <td class="first-td">优惠券名称:</td>
                                    <td class="second-td">

                                        <input id="username" class="basic-info-input long_type_input" type="text"
                                               placeholder="单行输入"/>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-td">预热时间:</td>
                                    <td class="second-td">
                                        <div>
                                            <input id="operatorName" value="" oninput="nameChanged(this)"
                                                   class="basic-info-input date" type="text" placeholder="请选择生效时间"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-td">生效时间:</td>
                                    <td class="second-td">
                                        <input id="mobileNum" value="" class="basic-info-input date" type="text"
                                               placeholder="请选择生效时间"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-td">失效时间:</td>
                                    <td class="second-td">
                                        <input id="department" value="" class="basic-info-input date" type="text"
                                               placeholder="请选择生效时间"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-td">发放时间:</td>
                                    <td class="second-td">
                                        <input id="department" value="" class="basic-info-input date" type="text"
                                               placeholder="请选择生效时间"/>
                                    </td>
                                </tr>

                            </table>
                            <aside>
                                <div class="account-header margin-top-md">
                                    <span>优惠卷发放规则</span>
                                </div>
                            </aside>
                            <div id="releaseRuleInfo" class="padding-left-sm">
                                <table id="ruleReleaseInfo">
                                    <tr>
                                        <td class="first_cp_td">
                                            <span>客户类别：</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxGroupChange"
                                               data-group="checkboxGroup1"></i>
                                            <span>全部</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxChange" data-group="checkboxGroup1"></i>
                                            <span>A类医院</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxChange" data-group="checkboxGroup1"></i>
                                            <span>B类医院</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxChange" data-group="checkboxGroup1"></i>
                                            <span>连锁药店</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxChange" data-group="checkboxGroup1"></i>
                                            <span>单体药店</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="first_cp_td">
                                            <span>客户区域：</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxGroupChange"
                                               data-group="checkboxGroup2"></i>
                                            <span>全部</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxChange" data-group="checkboxGroup2"></i>
                                            <span>南充市</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxChange" data-group="checkboxGroup2"></i>
                                            <span>成都市</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxChange" data-group="checkboxGroup2"></i>
                                            <span>自贡市</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-square-o checkBoxChange" data-group="checkboxGroup2"></i>
                                            <span>简阳市</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <aside>
                                <div class="account-header margin-top-md">
                                    <span>优惠卷使用规则</span>
                                </div>
                            </aside>
                            <div class="padding-left-sm" id="useRuleInfo">
                                <table>
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:90%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span>优惠卷类型：</span>
                                        </td>
                                        <td>
                                            <ul class="inline_ul">
                                                <li>
                                                    <i class="fa fa-dot-circle-o radioChange cushCoupen"
                                                       data-group="radioGroup1"></i>
                                                    <span>现金卷</span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-circle-o radioChange discountCoupen"
                                                       data-group="radioGroup1" style="margin-left: 15px;"></i>
                                                    <span>折扣卷</span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top;">
                                            <span>优惠卷规则：</span>
                                        </td>
                                        <td id="coupenRules">
                                            <ul class="inline_ul">
                                                <li>
                                                    满
                                                </li>
                                                <li>
                                                    <input type="text" placeholder="单行输入" class="s_in">
                                                </li>
                                                <li>
                                                    <select name="" id="" class="s_se"></select>
                                                </li>
                                                <li>减</li>
                                                <li>
                                                    <input type="text" placeholder="单行输入" class="s_in">
                                                </li>
                                                <li>元，发放</li>
                                                <li>
                                                    <input type="text" placeholder="单行输入" class="s_in">
                                                </li>
                                                <li>张，单个客户限领</li>
                                                <li>
                                                    <input type="text" placeholder="单行输入" class="s_in">
                                                </li>
                                                <li>张</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <span class="green_span" id="addNewRule">+添加规则</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top;">参与商品：</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <i class="fa fa-dot-circle-o radioChange" data-group="radioGroup2"
                                                       id="noLimit"></i>
                                                    <span>无限制</span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-circle-o radioChange" data-group="radioGroup2"
                                                       id="specialGood"></i>
                                                    <span>指定商品</span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>

                                            <table class="sm-page-table">
                                                <colgroup>
                                                    <col width="70%">
                                                    <col>
                                                    <col>
                                                </colgroup>
                                                <thead>
                                                <tr>
                                                    <td>商品信息</td>
                                                    <td>活动数量</td>
                                                    <td>操作</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <span class="red_span">删除</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="selectGoods_td">
                                                        <span class="green_span">... 选取商品</span>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>使用说明：</span>
                                        </td>
                                        <td>
                                            <input type="text" class="use_input">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs %>
</div>
<% include ../../footer.ejs %>
<script type="text/template" id="cashCoupenRule">
    <ul class="inline_ul">
        <li>
            满
        </li>
        <li>
            <input type="text" placeholder="单行输入" class="s_in">
        </li>
        <li>
            <select name="" id="" class="s_se"></select>
        </li>
        <li>减</li>
        <li>
            <input type="text" placeholder="单行输入" class="s_in">
        </li>
        <li>元，发放</li>
        <li>
            <input type="text" placeholder="单行输入" class="s_in">
        </li>
        <li>张，单个客户限领</li>
        <li>
            <input type="text" placeholder="单行输入" class="s_in">
        </li>
        <li>张</li>
        <li>
            <span class="red_span deleteLine">删除</span>
        </li>
    </ul>
</script>
<script type="text/template" id="discountCoupenRule">
    <ul class="inline_ul">
        <li>
            满
        </li>
        <li>
            <input type="text" placeholder="单行输入" class="s_in">
        </li>
        <li>
            <select name="" id="" placeholer="元" class="s_se"></select>
        </li>
        <li>打</li>
        <li>
            <input type="text" placeholder="单行输入" class="s_in">
        </li>
        <li>折，发放</li>
        <li>
            <input type="text" placeholder="单行输入" class="s_in">
        </li>
        <li>张，单个客户限领</li>
        <li>
            <input type="text" placeholder="单行输入" class="s_in">
        </li>
        <li>张</li>
        <li>
            <span class="red_span deleteLine">删除</span>
        </li>
    </ul>
</script>
<script src="/static/source/js/customer/promotionAdd.js"></script>