:local(.table) th{
    background-color: inherit;
    font-size: 14px;
    color: rgba(522,255,255,.6);
    border-bottom-color: #0E131A;
}
:local(.table) table{
    border: none;
}

:local(.tableWrap) .ant-table-placeholder{
    border-bottom-color: #0E131A;
}
:local(.tableWrap) tr:hover{
    background-color: #304159;
}
:local(.tableWrap) tr.active{
    background-color: #304159;
}

:local(.tableWrap) td{
    border-bottom-color: #0E131A;
}

:local(.table){
    font-size: 14px;
    color: rgba(255,255,255,.8);
}