<% include ../header.ejs %>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--If you add class "boxed" to .site-layout it wraps the whole document in a box, than you can simply add pattern background to body or leave it white. Please note in a "boxed" mode header doesn't stick to the top.-->
        <!--Header Toolbar-->
        <% include ../_nav_top.ejs %>
        <!--Header Toolbar Close-->
        <% include ../_nav_head.ejs %>
        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page">
            <div class="container">
                <div class="row">

                    <!--Sidebar-->
                    <% var active = "operatorLog"; %>
                    <% include ../_order_sidebar.ejs %>
                    <!--Sidebar Close-->

                    <section class="col-md-10 space-top space-bottom">
                        <div class="filterDiv">
                            <div class="filterHead">
                                <!--<div>筛选：</div>-->
                            </div>
                        </div>
                        <div class="space-top">
                            <table class="sm-page-table">
                                <thead>
                                <tr>
                                    <td><strong>操作人</strong></td>
                                    <td><strong>操作时间</strong></td>
                                    <td><strong>ip</strong></td>
                                    <td><strong>操作日志</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                    <%
                                    var operationTypes = {
                                        'LOGIN': '用户登录',
                                        'LOGOUT': '用户登出'
                                    }
                                    var logList = data.logList;
                                    %>
                                    <% if(logList.length > 0){ %>
                                        <% for(var i=0;i<logList.length;i++){ %>
                                        <% var dateObj = new Date(logList[i].createdOn) %>
                                        <tr>
                                            <td>
                                                <%= logList[i].log.operator.username+'/'+logList[i].log.operator.clientName%>
                                            </td>
                                            <td>
                                                <%= dateObj.toLocaleString('zh-CN',{'hour12':false})%>

                                            </td>
                                            <td>
                                                <%= logList[i].ipAddr%>
                                            </td>
                                            <td>
                                                <%= operationTypes[logList[i].log.actionFlag] %>
                                            </td>
                                        </tr>
                                        <% } %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="5" style="height: 200px">
                                                <h4 class="blank-content">您目前没有日志信息</h4>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <% var url = "operatorLog?"%>
                    <% include ../_paginator.ejs%>
                </div>
            </div>
        </div>
        <!--Page Content Close-->
    </div>
    <% include ../_nav_bottom.ejs %>
</div><!--Off-Canvas Close-->
<% include ../footer.ejs %>