<% include ../header.ejs%>
<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->
        <% include ../_nav_top.ejs %>
        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <!--Header Close-->

        <!--Page Content--><!-- InstanceBeginEditable name="content" -->
        <div class="page double-padding-bottom">

            <div class="container">
                <div class="row">
                    <!--Sidebar-->
                    <% var active = "personal_info"; %>
                    <% include ../_order_sidebar.ejs%>
                    <section class="col-md-10 space-top">
                        <table class="sm-page-table">
                            <thead>
                            <tr>
                                <td class="goods-info" colspan="2">修改密码</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width:20%">原密码:</td>
                                <td style="width: 80%;"><input type="password" class="form-control originPwd"  placeholder="输入原来的密码"></td>
                            </tr>
                            <tr>
                                <td style="width:20%">新密码:</td>
                                <td style="width: 80%;"><input type="password" class="form-control newPwd"  placeholder="由数字字母下划线组成,长度6-16个字符"></td>
                            </tr>
                            <tr>
                                <td style="width:20%">再次确认:</td>
                                <td style="width: 80%;"><input type="password" class="form-control newPwd2" placeholder="再次输入"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="goods-info">
                                    <a class="btn btn-md btn-primary confirmPersonalChangePwd"  style="display: inline-block" >确定</a>
                                    <a class="btn btn-md btn-primary cancelPersonalChangePwd"  style="display: inline-block">取消</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <section class="specialty-page">
            </section>
        </div>
        <!--Page Content Close-->
    </div><!--Layout Close-->
    <% include ../_nav_bottom.ejs%>
</div>

<% include ../footer.ejs %>