:local(.item) {
    width: 100%;
    min-height: 768px;
    position: relative;
}
:local(.item div:first-child) {
    width: 900px;
    height: 450px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
:local(.wrongImg img){
    width: 400px;
    height: 400px;
    margin-left: 100px;
    float: left;
}
:local(.login) {
    width: 400px;
    height: 400px;
    padding: 80px;
    float: right;
}
:local(.login h1) {
    font-size: 100px;
    font-weight: bolder;
    zoom: 1;
}
:local(.login p) {
    font-size: 14px;
}
:local(.login button) {
    margin-top: 10px;
}