:local(.box){
    padding: 3% 3% 2%;
    /*margin-bottom: %;*/
    font-size:12px;
    color:#101010;
    border-bottom: 1px solid #BBBBBB;
}
:local(.title){
    font-size:20px;
    color: green;
    padding: 25px 25px 5px 5px;
}
:local(.subTitle){
    font-size:13px;
    color: green;
    padding: 25px 25px 5px 5px;
}

:local(.orderNo){
    padding: 5px ;
}
:local(.returnAddress){
    padding: 5px ;
}
:local(.receiver){
    padding: 5px ;
}
:local(.payment){
    padding: 5px ;
}
:local(.pay){
    color: red;
    font-size:14px;
}