:local(.row) {
    font-size: 14px;
    margin-bottom: 20px;
}

:local(.picture) {
    vertical-align: text-top;
}

:local(.banner) {
    position: relative;
}

:local(.banner .batchItem) {
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
}

:local(.banner .batchItem:last-child) {
    border-bottom: none;
}

.changeImgWidthHeight .ant-upload-list-picture-card .ant-upload-list-item {
    width: 60px;
    height: 60px;
}