:local(.container){
    padding:18px 11px 10px 11px;

}
:local(.secondContainer){
    margin-top:15px;
    border-top:1px solid #BBBBBB;
    padding-top:5px;
    text-align:center;
    border-bottom:1px solid #BBBBBB;
    padding-bottom:36px;
}
:local(.tips){
    width:80%;
    margin-bottom:15px;
    margin-top:15px;
    text-align:left;
    padding-left:11px;
}
:local(.bigContainer){
    height:100%;
    background-color:#EBEBEB;
}