<% include ../../header.ejs%>
<%
var paginator = data.paginator || {};
var pageSize = parseInt(paginator.ps) || 10;
var page = parseInt(paginator.p) || 1;
%>

<div style="position:relative;width:100%;height:100%;">
    <!--Layout-->
    <div class="site-layout">
        <!--Header Toolbar-->

        <!--Header Toolbar Close-->

        <!--Header-->
        <% include ../_nav_head.ejs%>
        <div class="page">
            <div style="position: fixed;z-index: 1006;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;display: none" class="fadeDiv">
            </div>
            <div class="container page-content" style="min-height:800px">
                <div class="row space-top">
                    <!-- Sidebar-->
                    <% var active = "financeCenter"; %>
                    <% include ../_nav_customer_left.ejs %>
                    <!-- Sidebar CLose-->
                    <section class="col-md-10 pull-right  space-bottom page-content-right">
                        <div class="filterDivTab">
                            <div class="tabList">
                                <a href=""  class="itemActive">销售报表</a>
                                <a href="/customer/bill/goodsList">品种报表</a>
                                <a href="/customer/bill/onwaylist">在途货物报表</a>
                            </div>
                            <!--<div class="filterInputItem">-->
                                <!--<form class="approvedClientsForm" style="height: 30px">-->
                                    <!--<input placeholder="请输入客户名称" type="text" class="filterInput checkedClientSearchInput" value="<%=data.clientName %>"/>-->
                                    <!--<button type="button" class="filterInputButton checkedClientBtn" ><i class="fa fa-search"></i></button>-->
                                <!--</form>-->
                            <!--</div>-->
                        </div>
                        <div class="margin-top-sm finance-filter-container">
                            <div class="defaultdropdown" style="display:inline-block">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        2016
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="click-link" href="/order/return">2016</a>
                                        </li>

                                        <li>
                                            <a class="click-link" onclick="">2016</a>
                                        </li><li>
                                            <a class="click-link" onclick="">2015</a>
                                        </li><li>
                                            <a class="click-link" onclick="">2014</a>
                                        </li><li>
                                            <a class="click-link" onclick="">2013</a>
                                        </li><li>
                                            <a class="click-link" onclick="">2012</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="defaultdropdown" style="display:inline-block">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle filter-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        01
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="click-link" href="/order/return">01</a>
                                        </li>

                                        <li>
                                            <a class="click-link" onclick="">02</a>
                                        </li><li>
                                            <a class="click-link" onclick="">03</a>
                                        </li><li>
                                            <a class="click-link" onclick="">04</a>
                                        </li><li>
                                            <a class="click-link" onclick="">05</a>
                                        </li>
                                        <li>
                                            <a class="click-link" onclick="">06</a>
                                        </li>
                                        <li>
                                            <a class="click-link" onclick="">07</a>
                                        </li>
                                        <li>
                                            <a class="click-link" onclick="">08</a>
                                        </li>
                                        <li>
                                            <a class="click-link" onclick="">09</a>
                                        </li>
                                        <li>
                                            <a class="click-link" onclick="">10</a>
                                        </li>
                                        <li>
                                            <a class="click-link" onclick="">11</a>
                                        </li>
                                        <li>
                                            <a class="click-link" onclick="">12</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-primary">查询</button>
                        </div>


                            <div class="detail-sum margin-top-md">

                                <div class="pull-left detail-header-left">
                              <span>合计
                                  </span>

                                </div>
                                <div class="pull-left detail-header-right">
                                    <table>
                                        <tr>
                                            <td>下单客户数</td>
                                            <td>订单数量</td>
                                            <td>订单金额</td>
                                            <td>出库金额</td>
                                            <td>红冲金额</td>
                                            <td>成交金额</td>
                                        </tr>
                                        <tr>
                                            <td class="font-color-blue">&yen;<span >500</span></td>
                                            <td class="font-color-blue">&yen;<span >500</span></td>
                                            <td class="font-color-blue">&yen;<span >2000.0</span></td>
                                            <td class="font-color-red">&yen;<span >50000.0</span></td>
                                            <td class="font-color-green">&yen;<span  >4000.0</span></td>
                                            <td class="font-color-orange">&yen;<span >3000.0</span></td>
                                        </tr>
                                    </table>

                                </div>

                            </div>

                            <div class="space-top">
                                <table class="sm-page-table ">
                                    <thead class="finance-table-head">
                                    <tr>
                                        <td><strong>日期</strong></td>
                                        <td><strong>下单客户数</strong></td>
                                        <td><strong>订单数量</strong></td>
                                        <td><strong>订单金额</strong></td>
                                        <td><strong>出库金额</strong></td>
                                        <td><strong>红冲金额</strong></td>
                                        <td><strong>成交金额</strong></td>
                                        <td><strong>操作</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody class="finance-table-body">
                                    <%
                                    for(var i = 0; i < 30; i++){
                                    %>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td>500</td>
                                        <td>500</td>
                                        <td>&yen;<span>10000.5</span></td>
                                        <td class="font-color-red">&yen;<span >10000.5</span></td>
                                        <td class="font-color-blue-green">&yen;<span>10000.5</span></td>
                                        <td class="font-color-blue-green">&yen;<span>10000.5</span></td>
                                        <td><span title="查看"><a href="/customer/bill/list_detail"><i class="fa fa-eye"></i></a></span></td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>

                    </section><!--Catalog List Close-->
                    <section class="col-md-10 space-top pull-right">
                        <% var url = "" %>
                        <% include ../../_paginator.ejs%>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include ../../_nav_bottom.ejs%>
</div>
<% include  ../../footer.ejs %>