.contact-us h5 span{
  font-size: 10px;
  font-weight: 100;
}

.contact-us h5 a{
  font-size: 14px;
  font-weight: 100;
}

.copyright-bottom{
  text-align: center;
}

.copyright-bottom p{
  position: relative !important;
}

.copyright-bottom p a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.copyright .customerInfo{
  a{
    color: #999;
    //color: #237935;
  }
  a:hover{
    color: #237935;
  }
}