<% include ../header.ejs%>

<link rel="stylesheet" href="/static/masterslider/skins/light-6/style.css"/>
<!--Off-Canvas-->
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

        <!--Off-Canvas Menu-->
        <!--Off-Canvas Menu Close-->
        <!--Layout-->
        <div class="site-layout"><!--If you add class "boxed" to .site-layout it wraps the whole document in a box, than you can simply add pattern background to body or leave it white. Please note in a "boxed" mode header doesn't stick to the top.-->

            <!--Header Toolbar-->
            <% include ../_nav_top.ejs %>
            <!--Header Toolbar Close-->

            <!--Header-->
            <% include ../_nav_head.ejs%>
            <!--Header Close-->

            <!--Page Content--><!-- InstanceBeginEditable name="content" -->
            <div class="page">
                <div class="container space-top"style="padding: 0px;">
                    <div class="panel-group" style="box-shadow: 1px 1px 5px #888888;">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color: #f5f5f5">
                                <div class="panel-title" style="padding: 10px;">
                                    <h5 style="display: inline;">筛选类型</h5>
                                    <div class="btn-group" style="margin-left: 20px;">
                                        <button type="button" class="btn btn-sm btn-default" style="border-radius: 5px;">关键字</button>
                                    </div>
                                    <a  data-toggle="collapse" href="#collapseOne" style="float: right;"></a>
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding:10px 15px;background-color: #fff">
                                    <div style="padding: 10px">
                                        <div style="height: 40px;">
                                            <h6 style="display: inline;">西药产品</h6>
                                            <a href="" style="float: right;font-size: 14px">展开</a>
                                            <div class="btn-group" style="margin-left: 20px;">
                                                <button type="button" class="btn btn-sm btn-info" style="border-radius: 5px;">不限</button>

                                            </div>
                                        </div>
                                        <div style="height: 40px;">
                                            <h6 style="display: inline;">中药产品</h6>
                                            <a href="" style="float: right;font-size: 14px">展开</a>
                                            <div class="btn-group" style="margin-left: 20px;">
                                                <button type="button" class="btn btn-sm btn-info" style="border-radius: 5px;">不限</button>
                                            </div>
                                        </div>
                                        <div style="height: 40px;">
                                            <h6 style="display: inline;">医疗器械</h6>
                                            <a href="" style="float: right;font-size: 14px">展开</a>
                                            <div class="btn-group" style="margin-left: 20px;">
                                                <button type="button" class="btn btn-sm btn-info" style="border-radius: 5px;">不限</button>
                                            </div>
                                        </div>
                                        <div style="height: 40px;">
                                            <h6 style="display: inline;">计生用品</h6>
                                            <a href="" style="float: right;font-size: 14px">展开</a>
                                            <div class="btn-group" style="margin-left: 20px;">
                                                <button type="button" class="btn btn-sm btn-info" style="border-radius: 5px;">不限</button>
                                            </div>
                                        </div>
                                        <div style="height: 40px;">
                                            <h6 style="display: inline;">其他产品</h6>
                                            <a href="" style="float: right;font-size: 14px">展开</a>
                                            <div class="btn-group" style="margin-left: 20px;">
                                                <button type="button" class="btn btn-sm btn-info" style="border-radius: 5px;">不限</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <section class="col-md-12 space-top space-bottom" style="background: white;box-shadow: 1px 1px 5px #888888;padding: 0px">
                            <aside style="background: #f5f5f5;height: 50px;line-height: 50px;">
                                <div class="container sorting">
                                    <ol class="sort" style="margin-top: 10px;">
                                        <li>
                                            <a></a>
                                        </li>
                                        <li>
                                            <a>按名称</a>
                                        </li>
                                        <li>
                                            <a>按厂家</a>
                                        </li>
                                        <li>
                                            <a>按价格</a>
                                        </li>
                                        <li>
                                            <aside class="sidebar no-devider">
                                                <div class="widget search">
                                                    <form method="get" role="search" action="">
                                                        <label class="sr-only" for="blog-search"></label>
                                                        <input class="form-control" type="text" placeholder="搜索..." style="height: 30px;">
                                                        <button type="submit" style="right: 0px;top: -2px;"><i class="fa fa-filter"></i></button>
                                                    </form>
                                                </div>
                                            </aside>
                                        </li>
                                    </ol>

                                </div>
                            </aside>
                            <table class="table" style="text-align: center;margin-bottom: 0px">
                                <thead>
                                <tr style="height: 40px;line-height: 40px;">
                                    <td style="vertical-align: inherit;text-align: start">商品信息</td>
                                    <td style="vertical-align: inherit;">截止时间</td>
                                    <td style="vertical-align: inherit;">剩余数量</td>
                                    <td style="vertical-align: inherit;">价格</td>
                                    <td style="vertical-align: inherit;">批发包装</td>
                                    <td style="vertical-align: inherit;">数量</td>
                                    <td style="vertical-align: inherit;">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg" style="width: 80px; height: 80px"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;font-size: 12px;">
                                            <h6><a href="/goods/detail">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6>25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">2015-02-01</td>
                                    <td style="vertical-align: inherit;padding: 4px;">500件</td>
                                    <td style="vertical-align: inherit;padding: 4px;">12.99</td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div>
                                            <a  class="quantity_change" type="decrease" quantity="1"  href="#"><i class="fa fa-angle-left inactive "></i></a>
                                            <input class="quantity" type="text" goodsId="123456"  value="1" style="width:55px;text-align: center;">
                                            <a class="quantity_change" type="increase" quantity="1"   href="#"> <i class=" fa fa-angle-right "></i></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <a  class="add_to_cart" style="cursor: pointer" >
                                            <i class="fa fa-shopping-cart text-primary "></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg" style="width: 80px; height: 80px"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;font-size: 12px;">
                                            <h6><a href="/goods/detail">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6>25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">2015-02-01</td>
                                    <td style="vertical-align: inherit;padding: 4px;">500件</td>
                                    <td style="vertical-align: inherit;padding: 4px;">12.99</td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div>
                                            <a  class="quantity_change" type="decrease" quantity="1"  href="#"><i class="fa fa-angle-left inactive "></i></a>
                                            <input class="quantity" type="text" goodsId="123456"  value="1" style="width:55px;text-align: center;">
                                            <a class="quantity_change" type="increase" quantity="1"   href="#"> <i class=" fa fa-angle-right "></i></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <a  class="add_to_cart" style="cursor: pointer" >
                                            <i class="fa fa-shopping-cart text-primary "></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg" style="width: 80px; height: 80px"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;font-size: 12px;">
                                            <h6><a href="/goods/detail">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6>25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">2015-02-01</td>
                                    <td style="vertical-align: inherit;padding: 4px;">500件</td>
                                    <td style="vertical-align: inherit;padding: 4px;">12.99</td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div>
                                            <a  class="quantity_change" type="decrease" quantity="1"  href="#"><i class="fa fa-angle-left inactive "></i></a>
                                            <input class="quantity" type="text" goodsId="123456"  value="1" style="width:55px;text-align: center;">
                                            <a class="quantity_change" type="increase" quantity="1"   href="#"> <i class=" fa fa-angle-right "></i></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <a  class="add_to_cart" style="cursor: pointer" >
                                            <i class="fa fa-shopping-cart text-primary "></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div  style="float: left; width: 80px;height: 80px;overflow: hidden">
                                            <img src="/static/img/shop/cart/01.jpg" style="width: 80px; height: 80px"/>
                                        </div>
                                        <div style="float: left;margin-left: 10px;text-align: left;font-size: 12px;">
                                            <h6><a href="/goods/detail">连花清瘟胶囊</a></h6>
                                            <h6>杭州华东中药饮片有限公司</h6>
                                            <h6>25粒/瓶</h6>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">2015-02-01</td>
                                    <td style="vertical-align: inherit;padding: 4px;">500件</td>
                                    <td style="vertical-align: inherit;padding: 4px;">12.99</td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_lgnum_0" href=""></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [大包：<label id="lgnum_0">200</label> 大件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_lgnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_midnum_0" href="#"></a>
                                            <p class="quantity" type="text"style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [中包：<label id="midnum_0">100</label> 小件/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_midnum_0" href="#"></a>
                                        </div>
                                        <div class="qnt-pak">
                                            <a class="incr-btn fa fa-minus-circle inactive" data-action="decrease" id="skumin_smnum_0" href="#"></a>
                                            <p class="quantity" type="text" style="display: inline-flex;width: 130px;margin: 0px;line-height: 0px;">
                                                [小包：<label id="smnum_0">50</label>  大盒/小盒]
                                            </p>
                                            <a class="incr-btn fa fa-plus-circle" data-action="increase" id="skuplus_smnum_0" href="#"></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <div>
                                            <a  class="quantity_change" type="decrease" quantity="1"  href="#"><i class="fa fa-angle-left inactive "></i></a>
                                            <input class="quantity" type="text" goodsId="123456"  value="1" style="width:55px;text-align: center;">
                                            <a class="quantity_change" type="increase" quantity="1"   href="#"> <i class=" fa fa-angle-right "></i></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align: inherit;padding: 4px;">
                                        <a  class="add_to_cart" style="cursor: pointer" >
                                            <i class="fa fa-shopping-cart text-primary "></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </section>

                        <div class="double-space-top">
                            <h6 style="display: inline-block;float: left;">共4件</h6>
                            <ul class="pagination" style="width: auto;float: right;margin: 0px;">
                                <li class="prev goToPage" value="0">
                                    <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=0">上一页</a>
                                </li>


                                <li class="goToPage active" value="1">
                                    <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=1">1</a>
                                </li>

                                <li class="goToPage " value="2">
                                    <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=2">2</a>
                                </li>

                                <li class="goToPage " value="3">
                                    <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=3">3</a>
                                </li>

                                <li class="goToPage " value="4">
                                    <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=4">4</a>
                                </li>

                                <li>...</li>
                                <li class="goToPage" value="10">
                                    <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=10"> 10</a>
                                </li>
                                <li class="next goToPage" value="2">
                                    <a href="#?type=&amp;sort=&amp;keywords=&amp;pageSize=10&amp;page=2">下一页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!--Page Content Close-->
    </div>
</div>

<% include ../_nav_bottom.ejs%>
<% include ../footer.ejs %>