:local(.table){
    background-color: #fff;
}

:local(.note){
    color: #f00;
    font-size: 14px;
    margin-top: 5px;
}

:local(.fixBanner){
    position: fixed;
    bottom:0px;
    left:100px;
    z-index: 99;
    width: 95%;
    background: #fff;
    opacity: 0.8;
}

:local(.sellerTable){
    background-color: #DBF4FF;
    position: relative;
}

:local(.sellerTableHead td){
    border-bottom: 1px solid #57b2d9;
}
:local(.iconUp){
    position: absolute;
    top: -27px;
    left: 205px;
    color: #DBF4FF;
    font-size: 65px;
    cursor: default;
}
:local(.info){
    color: #e51c23;
    margin-right: 5px;
}